{% extends 'Admin/admin.html' %}


{% block content %}

<style>
  .iconSize{
    font-size: 25px;
  }
</style>


{% if administrators.user.id == request.user.id %}
  {% if administrators.profile_set == "Incomplete" %}
    <div class="alert alert-primary my-5 py-5 container" role="alert">
      Hello <strong>{{request.user}}</strong> Please Complete your Profile <strong class="px-3"><a href="{% url 'admin_profile' %}">Click Here</a></strong>
    </div>
  {% endif %}
{% endif %}




<section class="container mt-4">
    <h2 class="text-secondary">Administrator Clinics</h2>
</section>

<section class="my-5 container">
  {% for message in messages %}
  <div class="alert alert-warning py-3" role="alert">
      <p style="font-size: 18px;">{{message}}</p>
    </div>
  {% endfor %}
</section>

<section class="container mt-4">
  <div class="row">
    <div class="col-sm-12 col-md-6 mt-3">
      <button class="btn btn-light py-3 border" style="color: darkblue; width: 100%;"  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-plus-circle-fill iconSize"></i>
        <p>Create Clinic</p>
      </button>
    </div>
    <div class="col-sm-12 col-md-6 mt-3">
      <a href="{% url 'admin_profile' %}" style="text-decoration: none;">
        <button class="btn text-white py-3" style="background-color: darkblue; width: 100%;">
          <i class="bi bi-person-circle iconSize"></i>
          <p>Admin Profile</p>
        </button>
      </a>
    </div>
  </div>
</section>

<section class="mt-4 container">
  <section class="mt-5">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Clinic</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <section class="mt-5">
              <form method="POST">
                {% csrf_token %}
                  <div class="mb-4">
                      <label for="clinicnameinput" class="form-label">Clinic Name</label>
                      <input type="text" class="form-control py-3 bg-light" id="clinicnameinput" aria-describedby="clinic-name" name="clinic-name">
                  </div>
                  <div class="row mb-4">
                      <div class="col">
                          <div class="">
                              <label for="contact1" class="form-label">Contact 1</label>
                              <input type="text" class="form-control py-3 bg-light" id="contact1" aria-describedby="contact1help" name="contact-1">
                          </div>
                      </div>
                      <div class="col">
                          <div class="">
                              <label for="contact2" class="form-label">Contact 2</label>
                              <input type="text" class="form-control py-3 bg-light" id="contact2" aria-describedby="contact2help" name="contact-2">
                          </div>
                      </div>
                  </div>
                  <div class="mb-4">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control py-3 bg-light" id="exampleInputEmail1" aria-describedby="emailHelp" name="email-address">
                  </div>
                  <div class="mb-4">
                      <label for="exampleFormControlTextarea1" class="form-label">About Clinic</label>
                      <textarea class="form-control py-3 bg-light" id="exampleFormControlTextarea1" rows="3" placeholder="small description about clinic ?" name="about-clinic"></textarea>
                  </div>
                  <div class="mb-4">
                      <label for="clinicaddress" class="form-label">Address</label>
                      <input type="text" class="form-control py-3 bg-light" id="clinicaddress" aria-describedby="addresshelp" placeholder="12 main street" name="street">
                  </div>

                  <div class="alert alert-primary mb-3" role="alert">
                    If your provice or suburb is not listed please contact us.
                    <p class="my-2">whatsapp - 098 877 8899</p>
                    <p class="mb-0">email - admin@preoccare.co.za</p>
                  </div>
                  <div class="row mb-4">
                      <div class="col-6 col-md-6 col-lg-5 mt-3">
                          <label for="clinicnameinput" class="form-label">Provice</label>
                          <select class="form-select py-3 bg-light" aria-label="Default select example" name="province">
                              <option selected>Select Provice</option>
                              {% for province in provinceList %}
                              <option value="{{province.name}}">{{province.name}}</option>
                              {% endfor %}
                            </select>
                      </div>
                      <div class="col-6 col-md-6 col-lg-5 mt-3">
                          <label for="clinicnameinput" class="form-label">Suburb</label>
                          <select class="form-select py-3 bg-light" aria-label="Default select example" name="suburb">
                              <option selected>Select Suburb</option>
                              {% for suburb in suburbList%}
                              <option value="{{suburb.name}}">{{suburb.name}}</option>
                              {% endfor %}
                            </select>
                      </div>
                      <div class="col-12 col-md-12 col-lg-2 mt-3">
                          <div class="">
                              <label for="clinicnameinput" class="form-label">Zip Code</label>
                              <input type="text" class="form-control py-3 bg-light" id="clinicnameinput" aria-describedby="zipcodehelp" name="zipcode">
                          </div>
                      </div>
                  </div>
                  <label for="clinicnameinput" class="form-label mt-4 mb-4">Clinic Type ?</label>
                  <div class="row">
                      <div class="col-3">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="clinictype" id="privateclinic" value="Private">
                              <label class="form-check-label" for="privateclinic">
                                Private
                              </label>
                          </div>
                      </div>
                      <div class="col-3">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="clinictype" id="publicclinic" value="Public">
                              <label class="form-check-label" for="publicclinic">
                                Public
                              </label>
                          </div>
                      </div>
                  </div>
                  <center>
                      <button name="submit-adminClinic" type="submit" class="btn btn-warning my-5 py-3" style="width: 50%;">Submit</button>
                  </center>
              </form>
          </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="alert alert-primary mt-3" role="alert">
      Your Clinic Won't be <span class="text-success">active</span>  till we verify your clinic.
    </div>
    <div class="alert alert-primary" role="alert">
        Please contact us if your clinic is <span class="text-danger">Disabled</span> or having troubles with your application.
        <p class="my-2">whatsapp : 084 847 474</p>
        <p  class="my-2">Email : admin@precocare.com</p>
        <p  class="my-2" >Call : 094 748 8484</p>
    </div>
</section>

<section class="mt-5">
  <h6 style="color: darkblue;">Clinics you created</h6>
  <div class="mt-2" style="height: 2px; width: 20%; background-color: darkblue;"></div>
  <div class="row">
    {% for data in adminCreatedClinics%}
      <div class="col-sm-6">
        <div class="card py-3 bg-light mt-3">
          <div class="card-body">
            <h5 class="card-title">{{data.clinic_name}}</h5>
            {% if data.clinic_status == "Disabled" %}
            <p class="card-text">Clinic Status : <span class="text-danger">{{data.clinic_status}}</span> </p>
            {% else %}
            <p class="card-text">Clinic Status : <span class="text-success">{{data.clinic_status}}</span> </p>
            {% endif %}
            <a href="{% url 'dashboard' data.id %}" class="btn text-white" style="background-color: darkblue;">View Dashboard</a>
          </div>
        </div>
      </div>
      {% empty %}
        <div class="alert alert-secondary mt-3" role="alert">
          You have not created any clinics.
        </div>
      {% endfor %}
  </div
</section>

<section class="mt-5">
  <h6 style="color: gray;">Clinics you are admin</h6>
  <div class="mt-2" style="height: 2px; width: 20%; background-color: darkblue;"></div>
  {% if admin_clinics %}
    <div class="row">
        {% for data in admin_clinics%}
          <div class="col-sm-6">
            <div class="card py-3 bg-light mt-3">
              <div class="card-body">
                <h5 class="card-title">{{data.clinic_name}}</h5>
                {% if data.clinic_status == "Disabled" %}
                <p class="card-text">Clinic Status : <span class="text-danger">{{data.clinic_status}}</span> </p>
                {% else %}
                <p class="card-text">Clinic Status : <span class="text-success">{{data.clinic_status}}</span> </p>
                {% endif %}
                <a href="{% url 'dashboard' data.id %}" class="btn text-white" style="background-color: darkblue;">View Dashboard</a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
  {% else %}
    <section class="mt-5">
      <center>
        <button class="btn btn-success my-4 px-5 py-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Clinic</button>
        <p class="text-secondary" style="font-size: 18px;">Or admin / doctor has to add you as a clinic Administrator to they clinic. </p>
      </center>
    </section>
  {% endif %}
</section>

{% endblock %}