{% extends 'Admin/admin.html' %}


{% block content %}


<style>

    :root {
        --main-color: darkblue;
    }

  .border-style-top-left{
  border-top-left-radius : 0.3rem!important;
  }

  .border-style-top-right{
  border-top-right-radius : 0.3rem!important;
  }

  .main-headings{
    color: var(--main-color);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px !important;
}

    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .input-style {
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }

  @media (min-width: 767.98px) {

      .hide-components{
          display: none;
      }

    }

    @media (max-width: 768px) {

    .hide-components-lg{
        display: none;
    }


    }


    .navbar-brand-new {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    }

    .navbar-light .navbar-toggler {
    color: white;
    border-color: white;
  }
</style>


<section>
  <nav class="navbar navbar-expand-lg navbar-light py-3" style="background-color: darkblue;">
  <div class="container-fluid">
    <a class="navbar-brand-new" href="#" style="background-color: none; padding-right: 20px;">{{admin_dashboard.clinic_name}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list" style="color: white;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="{% url 'clinic-settings' admin_dashboard.id %}">Clinic Settings <i class="bi bi-arrow-right-circle-fill px-2" style="font-size: 18px;"></i></a>
        </li>
      </ul>
      <div class="d-flex">
        <h6 class="text-white">Administrator Dashboard</h6>
      </div>
    </div>
  </div>
</nav>
</section>

{% if administrators.user.id == request.user.id %}
  {% if administrators.profile_set == "Incomplete" %}
    <div class="alert alert-primary my-5 py-5 container" role="alert">
      Hello <strong>{{request.user}}</strong> Please Complete your Profile <strong class="px-3"><a href="{% url 'admin_profile' %}">Click Here</a></strong>
    </div>
  {% endif %}
{% endif %}

<section class="my-5 container">
  {% for message in messages %}
  <div class="alert alert-warning py-5" role="alert">
      <p style="font-size: 20px;">{{message}}</p>
    </div>
  {% endfor %}
</section>


<section class="mt-2 container">
  <div class="row align-items-md-stretch">
      <div class="col-6 col-md-6 col-lg-3 mt-4">
        <a data-bs-toggle="modal" href="#exampleModal" role="button"  style="text-decoration: none;">
          <div class="h-100 py-3 px-3 text-white border rounded-3" style="background-color: #B00020;">
            <center>
                Book Patient
            </center>
          </div>
        </a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3 mt-4">
        <a href="{% url 'admin-doctors' admin_dashboard.id%}" style="text-decoration: none;">
          <div class="h-100 py-3 px-3 bg-light border rounded-3 text-dark">
            <center>
              Doctors
            </center>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-3 mt-4">
        <a href="{% url 'all-applications' admin_dashboard.id%}" style="text-decoration: none;">
          <div class="h-100 py-3 px-3 bg-light border rounded-3 text-dark">
            <center>
              All Applications
            </center>
          </div>
        </a>
    </div>
    <div class="col-6 col-md-6 col-lg-3 mt-4">
      <a href="{% url 'locum'%}" style="text-decoration: none;">
        <div class="h-100 py-3 px-3 bg-light border rounded-3 text-dark">
          <center>
              Locum Jobs
          </center>
        </div>
      </a>
  </div>
    </div>
</section>

<section class="mt-5 container">
    <div class="row align-items-md-stretch">
        <div class="col-md-6 mt-4">
          <div class="h-100 py-3 px-3 bg-light border rounded-3">
            <div class="row">
                <div class="col-3 col-md-12 col-lg-3 col-xs-12 col-sm-12 d-flex align-items-center mb-2">
                    <i class="bi bi-alarm py-3 px-4 rounded text-white" style="font-size: 20px; background-color: darkblue;"></i>
                </div>
                <div class="col col-md-12 col-lg-9 col-xs-12 col-sm-12">
                    <p class="mb-1" style="font-size: 18px;">Pending</p>
                    <p class="text-secondary"><span class="badge bg-danger" style="margin-right: 10px;">12</span> Appointments</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="h-100 py-3 px-3 bg-light border rounded-3">
              <div class="row">
                  <div class="col-3 col-md-12 col-lg-3 col-xs-12 col-sm-12 d-flex align-items-center mb-2">
                      <i class="bi bi-alarm py-3 px-4 rounded text-white" style="font-size: 20px; background-color: green;"></i>
                  </div>
                  <div class="col-9 col-md-12 col-lg-9 col-xs-12 col-sm-12">
                      <p class="mb-2" style="font-size: 18px;">Confirmed</p>
                      <p class="text-secondary"><span class="badge bg-danger" style="margin-right: 10px;">12</span> Appointments</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
</section>


<!-- Pending appointment start  -->
<section class="container mt-5">
  <p class="main-headings m-0"><span><i class="bi bi-arrow-repeat text-danger" style="padding-right: 10px;"></i></span> Pending Appointments</p>
  <div class="row bg-light border rounded py-3 m-0 my-2 hide-components-lg">
    <div class="col-1">
      Today
    </div>
    <div class="col ">
      Full Name
    </div>
    <div class="col ">
      Service
    </div>
    <div class="col ">
      Time Slot
    </div>
    <div class="col ">
      Date
    </div>
    <div class="col ">
      Status
    </div>
    <div class="col ">
      Action
    </div>
  </div>

  <!-- {% now "d-m-Y" %}   {% now "Y-m-d" %} -->
  {% for application in all_appointments %}
  {% if application.application_status == "Pending" %}
  <div class="row pb-2 m-0">
    <div class="col-sm-12 col-lg-1 mt-1 d-flex align-items-center">
      {% if application.date_appointment == current_date %}
      <i class="bi bi-bell-fill text-danger" style="font-size: 20px;"></i>
      {% else %}
      <i class="bi bi-bell-slash-fill text-secondary" style="font-size: 20px;"></i>
      {% endif %}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center">
      {{application.patient_name}} {{application.patient_surname}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center">
      {{application.service.service_name}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center" style="color: darkblue;">
      {{application.time_slot_id.clinic_timeslot_id.timeslot}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center">
      {{application.date_appointment}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center text-danger">
      {{application.application_status}}
    </div>
    <div class="col-sm-12 col-lg mt-1">
      <button class="btn text-white" style="background-color: darkblue;" data-bs-toggle="modal" data-bs-target="#completeAppointment{{application.id}}">View</button>
        <!-- Modal -->
        <div class="modal fade" id="completeAppointment{{application.id}}" tabindex="-1" aria-labelledby="completeAppointmentModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="completeAppointmentModalLabel">{{application.patient_name}} {{application.patient_surname}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-white py-3 rounded" style="background-color: darkblue;">Confirm Appointment</li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Service
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.service.service_name}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Time Slot
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.time_slot_id.clinic_timeslot_id.timeslot}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Date
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.date_appointment}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <center>
                      <button class="btn btn-success px-5 my-4" data-bs-target="#confirmAppointment{{application.id}}" data-bs-toggle="modal">Confirm Appointment</button>
                    </center>
                  </li>

                  <li class="list-group-item text-white py-3 rounded" style="background-color: darkblue;">Appointment Information</li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Visit Status
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.visit_status}} Patient
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Service Fee
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        R {{application.service.service_fee}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Balance
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                          {{application.paid_status}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Appointment Status
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-danger">
                          {{application.application_status}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item text-white py-3 rounded" style="background-color: darkblue;">Patient Information</li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Patient File Number
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.patient_file_number}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Full Name
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.patient_name}} {{application.patient_surname}}
                      </div>
                    </div>
                  </li>

                  {% if application.visit_status == "First-Time" %}
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Gender
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.gender}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        DOB
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.date_of_birth}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Identification
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.identification}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Contact
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.contact}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Email
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.email}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Address
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        <p class="mb-1">
                          {{application.street}}
                        </p>
                        <p class="mb-1">
                          {{application.town}}
                        </p>
                        <p class="mb-1">
                          {{application.postal_code}}
                        </p>
                      </div>
                    </div>
                  </li>
                  {% endif %}
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Reason For Visit
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.reason_visit}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Allergies
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.allergies}}
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="confirmAppointment{{application.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Confirm Appointment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-success rounded py-3 text-white">Complete Appointment</li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-secondary">
                        Service
                      </div>
                      <div class="col">
                        {{application.service.service_name}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-secondary">
                        Date
                      </div>
                      <div class="col">
                        {{application.date_appointment}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-secondary">
                        Time Slot
                      </div>
                      <div class="col">
                        {{application.time_slot_id.clinic_timeslot_id.timeslot}}
                      </div>
                    </div>
                  </li>

                    <li class="list-group-item py-3">
                     <form action="" method="POST">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col text-secondary">
                          Assign a Doctor
                        </div>
                        <div class="col">
                          <select class="form-select" aria-label="Default select example" name="select_doctor" style="background-color: #CFE2FF; color: darkblue;">
                            <option selected style="color: grey !important;"> Select A Doctor</option>
                            {% for doctor in admin_dashboard.clinic_doctors.all %}
                            <option value="{{doctor.id}}">Dr {{doctor.first_name}} {{doctor.last_name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item py-3">
                      <div class="row">
                        <div class="col text-secondary">
                          Payment Status
                        </div>
                        <div class="col">
                          <select class="form-select" aria-label="Default select example" name="payment" style="background-color: #CFE2FF; color: darkblue;">
                            <option selected  style="color: grey !important;">Select Payment Status</option>
                            <option value="Outstanding">Outstanding</option>
                            <option value="Paid">Paid</option>
                          </select>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item py-3">
                      <div class="row">
                        <div class="col text-secondary">
                          Application Status
                        </div>
                        <div class="col">
                          <select class="form-select" aria-label="Default select example" name="status" style="background-color: #CFE2FF; color: darkblue;">
                            <option selected style="color: grey !important;">Select Application Status</option>
                            <option value="Confirmed">Confirmed</option>
                            <option value="Pending">Pending</option>
                          </select>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item py-4">
                      <center>
                        <input type="text" value="{{application.id}}" name="appointment_id" hidden="True">
                        <button type="submit" name="confirm_appointment" class="btn btn-success">Submit Appointment</button>
                      </center>
                    </form>
                    </li>

                  <li class="list-group-item py-4">
                    <center>
                      <button class="btn btn-warning">Reschedule Appointment</button>
                    </center>
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                <button class="btn" style="color: darkblue;" data-bs-target="#completeAppointment{{application.id}}" data-bs-toggle="modal">back to appointment form</button>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  {% endif %}
  {% endfor %}
</section>
<!-- Pending appointment end  -->



<!-- todays confirmed appointment start  -->
<section class="container mt-5">
  <p class="main-headings m-0"><span><i class="bi bi-check-circle-fill text-success" style="padding-right: 10px;"></i></span> Todays Appointments</p>
  <div class="row text-white border rounded py-3 m-0 my-2 hide-components-lg" style="background-color: darkblue;">
    <div class="col">
      Full Name
    </div>
    <div class="col">
      Service
    </div>
    <div class="col">
      Time Slot
    </div>
    <div class="col">
      Date
    </div>
    <div class="col">
      Status
    </div>
    <div class="col">
      Action
    </div>
  </div>

  {% for application in all_appointments %}
  {% if application.application_status == "Confirmed" %}
  <div class="row pb-2 m-0">
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center">
      {{application.patient_name}} {{application.patient_surname}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center">
      {{application.service.service_name}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center" style="color: darkblue;">
      {{application.time_slot_id.clinic_timeslot_id.timeslot}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center">
      {{application.date_appointment}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center text-success">
      {{application.application_status}}
    </div>
    <div class="col-sm-12 col-lg mt-1">
      <button class="btn text-white" style="background-color: darkblue;" data-bs-toggle="modal" data-bs-target="#confirmedtodayAppointment{{application.id}}">View</button>
        <!-- Modal -->
        <div class="modal fade" id="confirmedtodayAppointment{{application.id}}" tabindex="-1" aria-labelledby="completeAppointmentModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="completeAppointmentModalLabel">{{application.patient_name}} {{application.patient_surname}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-white py-3 rounded" style="background-color: darkblue;">Todays Appointment</li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Service
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.service.service_name}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Time Slot
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.time_slot_id.clinic_timeslot_id.timeslot}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Date
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.date_appointment}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item py-3">
                    <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col text-secondary">
                        Mark as Complete
                      </div>
                      <div class="col">
                        <select class="form-select" aria-label="Default select example" name="complete_status" style="background-color: #CFE2FF; color: darkblue;">
                          <option selected style="color: grey !important;">Select Application Status</option>
                          <option value="Complete">Complete</option>
                          <option value="No-Show">No-Show</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item py-3">
                    <div class="row">
                      <div class="col text-secondary">
                        Payment Status
                      </div>
                      <div class="col">
                        <select class="form-select" aria-label="Default select example" name="complete_payment" style="background-color: #CFE2FF; color: darkblue;">
                          <option selected  style="color: grey !important;">Select Payment Status</option>
                          <option value="Outstanding">Outstanding</option>
                          <option value="Paid">Paid</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item py-4">
                    <center>
                      <div class="row">
                        <div class="col">
                          <input type="text" value="{{application.id}}" name="complete_appointmentId" hidden="True">
                          <button type="submit" name="complete_appointment" class="btn btn-success px-5 py-3">Submit Complete</button>
                        </div>
                        <div class="col">
                          <button class="btn btn-warning px-5 py-3">Reschedule</button>
                        </div>
                      </div>
                    </center>
                  </form>
                  </li>
                  <!-- <li class="list-group-item">
                    <center>
                      <button class="btn btn-secondary px-5 my-4" data-bs-target="#completetodaysAppointment{{application.id}}" data-bs-toggle="modal">Complete Appointment</button>
                    </center>
                  </li> -->

                  <li class="list-group-item text-white py-3 rounded" style="background-color: darkblue;">Appointment Information</li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Visit Status
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.visit_status}} Patient
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Service Fee
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        R {{application.service.service_fee}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Balance
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                          {{application.paid_status}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Appointment Status
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-success">
                          {{application.application_status}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item text-white py-3 rounded" style="background-color: darkblue;">Patient Information</li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Patient File Number
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.patient_file_number}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Full Name
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.patient_name}} {{application.patient_surname}}
                      </div>
                    </div>
                  </li>

                  {% if application.visit_status == "First-Time" %}
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Gender
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.gender}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        DOB
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.date_of_birth}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Identification
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.identification}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Contact
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.contact}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Email
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.email}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Address
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        <p class="mb-1">
                          {{application.street}}
                        </p>
                        <p class="mb-1">
                          {{application.town}}
                        </p>
                        <p class="mb-1">
                          {{application.postal_code}}
                        </p>
                      </div>
                    </div>
                  </li>
                  {% endif %}
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Reason For Visit
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.reason_visit}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                        Allergies
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                        {{application.allergies}}
                      </div>
                    </div>
                  </li>
                </ul>
                <div style="height: 100px; width: 100%;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="completetodaysAppointment{{application.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Complete Appointment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-success rounded py-3 text-white">Complete Appointment</li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-secondary">
                        Service
                      </div>
                      <div class="col">
                        {{application.service.service_name}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-secondary">
                        Date
                      </div>
                      <div class="col">
                        {{application.date_appointment}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-secondary">
                        Time Slot
                      </div>
                      <div class="col">
                        {{application.time_slot_id.clinic_timeslot_id.timeslot}}
                      </div>
                    </div>
                  </li>

                    <li class="list-group-item py-3">
                     <form action="" method="POST">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col text-secondary">
                          Assign a Doctor
                        </div>
                        <div class="col">
                          <select class="form-select" aria-label="Default select example" name="select_doctor">
                            <option selected style="color: grey !important;"> Select A Doctor</option>
                            {% for doctor in admin_dashboard.clinic_doctors.all %}
                            <option value="{{doctor.id}}">Dr {{doctor.first_name}} {{doctor.last_name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item py-3">
                      <div class="row">
                        <div class="col text-secondary">
                          Payment Status
                        </div>
                        <div class="col">
                          <select class="form-select" aria-label="Default select example" name="payment">
                            <option selected  style="color: grey !important;">Select Payment Status</option>
                            <option value="Outstanding">Outstanding</option>
                            <option value="Paid">Paid</option>
                          </select>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item py-3">
                      <div class="row">
                        <div class="col text-secondary">
                          Application Status
                        </div>
                        <div class="col">
                          <select class="form-select" aria-label="Default select example" name="status">
                            <option selected style="color: grey !important;">Select Application Status</option>
                            <option value="Confirmed">Confirmed</option>
                            <option value="Pending">Pending</option>
                          </select>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item py-4">
                      <center>
                        <input type="text" value="{{application.id}}" name="appointment_id" hidden="True">
                        <button type="submit" name="confirm_appointment" class="btn btn-success">Submit Appointment</button>
                      </center>
                    </form>
                    </li>

                  <li class="list-group-item py-4">
                    <center>
                      <button class="btn btn-warning">Reschedule Appointment</button>
                    </center>
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                <button class="btn" style="color: darkblue;" data-bs-target="#confirmedtodayAppointment{{application.id}}" data-bs-toggle="modal">back to appointment form</button>
              </div>  
            </div>
          </div>
        </div>
      </div>
  </div>
  <hr>
  {% endif %}
  {% endfor %}
</section>

<!-- todays confirmed appointment end  -->

{% endblock %}