{% extends 'Admin/admin.html' %}


{% block content %}


<style>

    :root {
        --main-color: darkblue;
    }

  .border-style-top-left{
  border-top-left-radius : 0.3rem!important;
  }

  .border-style-top-right{
  border-top-right-radius : 0.3rem!important;
  }

  .main-headings{
    color: var(--main-color);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px !important;
}

    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .input-style {
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }

    .dropdown_style{
        padding: 1rem 0.01rem;
        background-color: #F8FAFC;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        height: calc(3.5rem + 2px);
        line-height: 1.25;
        width: 100%;
    }

  @media (min-width: 767.98px) {

      .hide-components{
          display: none;
      }

    }

    @media (max-width: 768px) {

    .hide-components-lg{
        display: none;
    }


    }


    .navbar-brand-new {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    }

    .navbar-light .navbar-toggler {
    color: white;
    border-color: white;
  }
</style>


<section class="" id="wholepage">

<section>
  <nav class="navbar navbar-expand-lg navbar-light py-3" style="background-color: darkblue;">
  <div class="container-fluid">
    <a class="navbar-brand-new" href="#" style="background-color: none; padding-right: 20px;">{{admin_dashboard.clinic_name}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list" style="color: white;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="{% url 'clinic-settings' admin_dashboard.id %}">Clinic Settings <i class="bi bi-arrow-right-circle-fill px-2" style="font-size: 18px;"></i></a>
        </li>
      </ul>
      <div class="d-flex">
        <h6 class="text-white">Administrator Dashboard</h6>
      </div>
    </div>
  </div>
</nav>
</section>


<section class="my-5 container">
  {% for message in messages %}
  <div class="alert alert-warning py-5" role="alert">
      <p style="font-size: 20px;">{{message}}</p>
    </div>
  {% endfor %}
</section>


<section class="mt-2 container">
  <div class="row align-items-md-stretch">
      <div class="col-6 col-md-6 col-lg-3 mt-4">
        <a data-bs-toggle="modal" href="#bookpatient" role="button"  style="text-decoration: none;">
          <div class="h-100 py-3 px-3 text-white border rounded-3" style="background-color: darkblue;">
            <center>
              <i class="bi bi-plus-circle-fill" style="font-size: 25px;"></i>
              <p>Book Patient</p>
            </center>
          </div>
        </a>
        <!-- Modal -->
        <div class="modal fade" id="bookpatient" tabindex="-1" aria-labelledby="bookpatientLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="bookpatientLabel">Book Patient</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <section class="timeslot-section">
                  <section class="my-3">
                    <p class="py-2">Search for available time-slots.</p>
                    <form>
                        {% csrf_token %}
                        <select required class="dropdown_style rounded mb-3" name="service_selected">
                            <option value="">Select Service</option>
                            {% for service in ClinicServices %}
                            <option value="{{service.id}}">{{service.service_name}}</option>
                            {% endfor %}
                          </select>
                          <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="application_date" placeholder="Appointment Date" name="selected_user_date" required>
                            <label for="floatingInput">Appointment Date</label>
                            <div id="appointmentdatehelp" class="form-text">Please Press the calendar <strong>Icon</strong> if you having trouble.</div>
                          </div>
                          <input type="text" name="clinic_id" value="{{admin_dashboard.id}}" hidden="True">
                          <center>
                            <button onclick="patientdate(event)"  name="post_timeslot" hx-post="{% url 'show-timeslot' %}" hx-target="#timeslots" type="submit" class="my-4 btn btn-success py-3" style="width: 100%;">Search Time-Slot</button>
                          </center>
                    </form>
                  </section>
                  <section class="my-5" id="timeslots" style="display: none;">
                      <div class="row">
                          {% include 'partials/timeslot_id.html' %}
                      </div>
                  </section>
                </section>


                <section class="application-form" id="showapplication" style="display: none;">
                  <p class="text-secondary mt-5" style="font-size: 17px; font-weight: 500;">First time visit to this clinic ?</p>
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <!-- Yes Application start -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOneYes">
                          <button class="accordion-button collapsed bg-light px-1 rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneYes" aria-expanded="false" aria-controls="flush-collapseOneYes">
                            Yes
                          </button>
                        </h2>
                        <div id="flush-collapseOneYes" class="accordion-collapse collapse" aria-labelledby="flush-headingOneYes" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body px-0">
                              <form autocomplete="false" method="POST" >
                                {% csrf_token %}
                                <div>
                                  <input type="text" id="selected_user_date" value="" name="picked_date" hidden="True">
                                  <input type="text" id="input_time_javascript" value="" name="input_time_javascript" hidden="True">
                                  <input type="text" id="clinic_javascript" value="" name="clinic_javascript" hidden="True">
                                  <input type="text" id="service_javascript" value="" name="service_javascript" hidden="True">
                                </div>
                                  <section class="hidden-inputs">
                                      <input type="text" value="First-Time" name="visit_status" hidden="True">
                                  </section>
                                  <section class="application-info">
                                      <p style="color: darkblue; font-weight: 500; font-size: 20px;">Application</p>
                                      <p class="text-secondary">Assign a Doctor</p>
                                      <div class="alert alert-primary my-3" role="alert">
                                        <div class="row ">
                                          {% for doctor in admin_dashboard.clinic_doctors.all %}
                                            <div class="col">
                                              <div class="form-check">
                                                <input value="{{doctor.id}}" class="form-check-input" type="radio" name="select_doctor" id="select_doctor1" required>
                                                <label class="form-check-label" for="select_doctor1">
                                                  Dr {{doctor.first_name}} {{doctor.last_name}}
                                                </label>
                                              </div>
                                            </div>
                                          {% endfor %}
                                        </div>
                                      </div>
                                      <p class="text-secondary mt-4">Payment Status</p>
                                      <div class="alert alert-primary my-4" role="alert">
                                        <div class="row ">
                                            <div class="col">
                                              <div class="form-check">
                                                <input value="Outstanding" class="form-check-input" type="radio" name="payment" id="select_payment1" required>
                                                <label class="form-check-label" for="select_payment1">
                                                  Outstanding
                                                </label>
                                              </div>
                                            </div>
                                            <div class="col">
                                              <div class="form-check">
                                                <input value="Paid" class="form-check-input" type="radio" name="payment" id="select_payment1" required>
                                                <label class="form-check-label" for="select_payment1">
                                                  Paid
                                                </label>
                                              </div>
                                            </div>
                                        </div>
                                      </div>
                                        <select required class="dropdown_style rounded mb-3" name="location" id="service">
                                            <option value="">Select location</option>
                                            {% for location in clinicLocation %}
                                            <option value="{{location.id}}">{{location.street}} , {{location.suburb}}</option>
                                            {% endfor %}
                                          </select>
                                        <select class="dropdown_style rounded mb-3" name="insurance" id="service">
                                            <option>Select Medical Aid</option>
                                            {% for insurance in admin_dashboard.insurance_cover.all %}
                                            <option value="{{insurance.id}}">{{insurance.name}}</option>
                                            {% endfor %}
                                          </select>
                                         </section>
  
  
                                  <section class="Person-info mt-5">
                                      <p style="color: darkblue; font-weight: 500;">Patient information</p>
                                      <div class="form-floating mb-3">
                                              <input type="text" class="form-control" id="floatingInput" placeholder="Patient Name" name="patient_name" required>
                                              <label for="floatingInput">Patient Name</label>
                                          </div>
          
                                          <div class="form-floating mb-3">
                                              <input type="text" class="form-control" id="floatingInput" placeholder="Patient Surname" name="patient_surname" required>
                                              <label for="floatingInput">Patient Surname</label>
                                          </div>
                                          <select required class="dropdown_style rounded mb-3" name="gender" id="Application_for">
                                            <option value="">Select Gender</option>
                                            <option value="Female">Female</option>
                                            <option value="Male">Male</option>
                                            <option value="Other">Other</option>
                                          </select>
          
                                          <div class="form-floating mb-3">
                                              <input type="date" class="form-control" id="floatingInput" placeholder="Patient Surname" name="Date_of_Birth" required>
                                              <label for="floatingInput">Date of Birth</label>
                                              <div id="emailHelp" class="form-text">Press the calendar <strong>Icon</strong> if you having trouble.</div>
                                          </div>
          
                                          <div class="form-floating mb-3">
                                              <input type="text" class="form-control" id="floatingInput" placeholder="Identification" name="identification" required>
                                              <label for="floatingInput">Identification</label>
                                          </div>
          
                                          <div class="form-floating mb-3">
                                              <input type="text" class="form-control" id="floatingInput" placeholder="Contact Number 1" name="contact1" required>
                                              <label for="floatingInput">Contact 1</label>
                                          </div>
                                          <div class="form-floating mb-3">
                                              <input type="email" class="form-control" id="floatingInput" placeholder="Email Address" name="email_address" required>
                                              <label for="floatingInput">Email Address</label>
                                              <div id="emailHelp" class="form-text">We use emails to send Appointment confirmations</div>
                                          </div>
                                  </section>
  
  
                                  <section class="patient-address mt-5">
                                      <p style="color: darkblue; font-weight: 500;">Address</p>
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Street Adress" name="street" required>
                                          <label for="floatingInput">Street Address</label>
                                      </div>
  
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Town" name="town" required>
                                          <label for="floatingInput">Town</label>
                                      </div>
  
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Postal Code" name="postal_code" required>
                                          <label for="floatingInput">Postal Code</label>
                                      </div>
                                  </section>
  
  
                                  <section class="extra-info mt-5">
                                      <p class="mb-1" style="color: darkblue; font-weight: 500;">Extra information</p>
                                      <p class="text-secondary mb-1">Allergies ( Optional )</p>
                                      <div class="form-floating  mb-3">
                                        <textarea name="allergies" class="form-control" placeholder="Write allergies here" id="floatingTextarea2" style="height: 200px"></textarea>
                                        <label for="floatingTextarea2">Allergies</label>
                                    </div>
                                      <p class="text-secondary">Reason for visit</p>
                                      <div class="form-floating  mb-3">
                                          <textarea name="reason" class="form-control" placeholder="leave reason for visit here!!" id="floatingTextarea2" style="height: 200px"></textarea>
                                          <label for="floatingTextarea2">Reason for visit</label>
                                      </div>
                                  </section>
                                    
  
                                  <center>
                                    <button class="btn text-white py-3 mt-3 mb-5" type="submit" name="submit-application" style="background-color: darkblue; width: 100%;">Submit</button>
                                  </center>
                              </form>
  
                              <div class="accordion-bottom-spacing"></div>
                          </div>
                        </div>
                      </div>
                      <!-- Yes Application end -->
  
                      <!-- No Application start -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwoNo">
                          <button class="accordion-button collapsed bg-light px-1 rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoNo" aria-expanded="false" aria-controls="flush-collapseTwoNo">
                            No
                          </button>
                        </h2>
                        <div id="flush-collapseTwoNo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwoNo" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body px-0">
                              <form autocomplete="false" method="POST">
                                {% csrf_token %}
                                <div>
                                  <input type="text" id="return_date" value="" name="picked_date" hidden="True">
                                  <input type="text" id="return_timeslot" value="" name="input_time_javascript" hidden="True">
                                  <input type="text" id="return_clinic" value="" name="clinic_javascript" hidden="True">
                                  <input type="text" id="return_service" value="" name="service_javascript" hidden="True">
                                </div>
                                  <section class="hidden-inputs">
                                      <input type="text" name="visit_status" value="Returning" hidden="True">
                                  </section>
                                  <section class="application-info">
                                      <p style="color: darkblue; font-weight: 500; font-size: 20px;">Application</p>
                                      <p class="text-secondary">Assign a Doctor</p>
                                      <div class="alert alert-primary my-3" role="alert">
                                        <div class="row ">
                                          {% for doctor in admin_dashboard.clinic_doctors.all %}
                                            <div class="col">
                                              <div class="form-check">
                                                <input value="{{doctor.id}}" class="form-check-input" type="radio" name="select_doctor" id="select_doctor1" required>
                                                <label class="form-check-label" for="select_doctor1">
                                                  Dr {{doctor.first_name}} {{doctor.last_name}}
                                                </label>
                                              </div>
                                            </div>
                                          {% endfor %}
                                        </div>
                                      </div>
                                      <p class="text-secondary mt-4">Payment Status</p>
                                      <div class="alert alert-primary my-4" role="alert">
                                        <div class="row ">
                                            <div class="col">
                                              <div class="form-check">
                                                <input value="Outstanding" class="form-check-input" type="radio" name="payment" id="select_payment1" required>
                                                <label class="form-check-label" for="select_payment1">
                                                  Outstanding
                                                </label>
                                              </div>
                                            </div>
                                            <div class="col">
                                              <div class="form-check">
                                                <input value="Paid" class="form-check-input" type="radio" name="payment" id="select_payment1" required>
                                                <label class="form-check-label" for="select_payment1">
                                                  Paid
                                                </label>
                                              </div>
                                            </div>
                                        </div>
                                      </div>
                                        <select required class="dropdown_style rounded mb-3" name="location" id="service">
                                            <option value="">Select location</option>
                                            {% for location in clinicLocation %}
                                            <option value="{{location.id}}">{{location.street}} , {{location.suburb}}</option>
                                            {% endfor %}
                                          </select>
                                        <select class="dropdown_style rounded mb-3" name="medical_aid" id="service" required>
                                            <option>Select Medical Aid</option>
                                            {% for insurance in admin_dashboard.insurance_cover.all %}
                                            <option value="{{insurance.id}}">{{insurance.name}}</option>
                                            {% endfor %}
                                          </select>
                                  </section>
  
                                  <section class="patient-info mt-5">
                                      <p style="color: darkblue; font-weight: 500;">Patient information</p>
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Patient Name" name="patient_name" required>
                                          <label for="floatingInput">Patient Name</label>
                                      </div>
  
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Patient Surname" name="patient_surname" required>
                                          <label for="floatingInput">Patient Surname</label>
                                      </div>
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Patient File Number" name="file_number" required>
                                          <label for="floatingInput">Patient File Number</label>
                                      </div>
                                      <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput" placeholder="Email Address" name="email_address" required>
                                        <label for="floatingInput">Email Address</label>
                                        <div id="emailHelp" class="form-text">We use emails to send Appointment confirmations</div>
                                    </div>
                                  </section>
                                  <center>
                                    <button name="returning_submit" type="submit" class="btn text-white py-3 my-3" style="background-color: darkblue; width: 100%;">Submit</button>
                                  </center>
                              </form>
                              <div class="accordion-bottom-spacing"></div>
                          </div>
                        </div>
                      </div>
                      <!-- No Application end -->
                  </div>
                  </section>
                  <div style="height: 100px; width: 100%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3 mt-4">
        <a href="{% url 'admin-doctors' admin_dashboard.id%}" style="text-decoration: none;">
          <div class="h-100 py-3 px-3 bg-light border rounded-3 text-dark">
            <center>
              <i class="bi bi-person-circle" style="font-size: 25px; color: darkblue;"></i>
              <p>Doctors</p>
            </center>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-3 mt-4">
        <a href="{% url 'all-applications' admin_dashboard.id%}" style="text-decoration: none;">
          <div class="h-100 py-3 px-3 bg-light border rounded-3 text-dark">
            <center>
              <i class="bi bi-bookmark-check-fill" style="font-size: 25px; color: darkblue;"></i>
              <p>Applications</p>
            </center>
          </div>
        </a>
    </div>
    <div class="col-6 col-md-6 col-lg-3 mt-4">
      <a href="#" style="text-decoration: none;">
        <div class="h-100 py-3 px-3 bg-light border rounded-3 text-dark">
          <center>
            <i class="bi bi-clipboard2-pulse-fill"  style="font-size: 25px; color: darkblue;"></i>
            <p>Careers</p>
          </center>
        </div>
      </a>
  </div>
    </div>
</section>

<section class="mt-5 container">
    <div class="row align-items-md-stretch">
        <div class="col-md-6 mt-4">
          <div class="h-100 py-3 px-3 bg-light border rounded-3">
            <div class="row">
                <div class="col-3 col-md-12 col-lg-3 col-xs-12 col-sm-12 d-flex align-items-center mb-2">
                    <i class="bi bi-alarm py-3 px-4 rounded text-white" style="font-size: 20px; background-color: darkblue;"></i>
                </div>
                <div class="col col-md-12 col-lg-9 col-xs-12 col-sm-12">
                    <p class="mb-1" style="font-size: 18px;">Pending</p>
                    <p class="text-secondary"><span class="badge bg-danger" style="margin-right: 10px;">{{pendingAppointments}}</span> Appointments</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="h-100 py-3 px-3 bg-light border rounded-3">
              <div class="row">
                  <div class="col-3 col-md-12 col-lg-3 col-xs-12 col-sm-12 d-flex align-items-center mb-2">
                      <i class="bi bi-alarm py-3 px-4 rounded text-white" style="font-size: 20px; background-color: green;"></i>
                  </div>
                  <div class="col-9 col-md-12 col-lg-9 col-xs-12 col-sm-12">
                      <p class="mb-2" style="font-size: 18px;">Confirmed</p>
                      <p class="text-secondary"><span class="badge bg-danger" style="margin-right: 10px;">{{confirmedAppointments}}</span> Appointments</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
</section>


<!-- Pending appointment start  -->
<section class="container mt-5">
  <p class="main-headings m-0"><span><i class="bi bi-arrow-repeat text-danger" style="padding-right: 10px;"></i></span> Pending Appointments</p>
  <div class="row bg-light border rounded py-3 m-0 my-2 hide-components-lg">
    <div class="col-1">
      Today
    </div>
    <div class="col ">
      Full Name
    </div>
    <div class="col ">
      Service
    </div>
    <div class="col ">
      Time Slot
    </div>
    <div class="col ">
      Date
    </div>
    <div class="col ">
      Status
    </div>
    <div class="col ">
      Action
    </div>
  </div>

  <!-- hx-trigger="every 2s" -->

  <!-- hx-swap="innerHTML"  -->
  
  <section class="my-5">
    <ul class="list-group">
      <section  hx-get="{% url 'patientfile' admin_dashboard.id%}"  hx-trigger="every 2s">
        {% include "admins_patials/pending_appointments.html" with clinic_id=admin_dashboard.id only %}
      </section>
    </ul>
  </section>
</section>
<!-- Pending appointment end  -->

<!-- todays confirmed appointment start  -->
<section class="container" style="margin-top: 100px;">
  <p class="main-headings m-0 text-white px-2 py-3 rounded" style="background-color: darkblue;"><span><i class="bi bi-check-circle-fill text-success" style="padding-right: 10px;"></i></span> Todays Appointments</p>
  <div class="accordion mt-4" id="accordionExample">
    {% for service in ClinicServices %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed py-4" type="button" data-bs-toggle="collapse" data-bs-target="#service{{service.id}}" aria-expanded="false" aria-controls="service{{service.id}}">
          {{service.service_name}}
        </button>
      </h2>
      <div id="service{{service.id}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body py-5">
          <!-- list all todays appointments start  -->
          <section>
            <div>
              <div class="row gx-2 gy-4">
                {% for data in todays_appointments %}
                  {% if data.service.id == service.id %}
                    <div class="col-lg-6" >
                        <a type="button" href="#adminConfirm{{data.id}}"  data-bs-toggle="modal" style="text-decoration: none; width: 100%;">
                            <div class="p-3 rounded" style="background-color: darkblue;">
                              <h6 class="card-title text-white">{{data.time_slot_id.clinic_timeslot_id.timeslot}}</h6>
                              <p class="card-text text-white">{{data.patient_name}} {{data.patient_surname}}</p>
                            </div>
                        </a>
                    </div>

                    <!-- Appointment Modal start  -->
                    <section class="Modal">
                      <!-- Modal -->
                        <div class="modal fade" id="adminConfirm{{data.id}}" tabindex="-1" aria-labelledby="completeAppointmentModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="completeAppointmentModalLabel">{{data.patient_name}} {{data.patient_surname}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item text-white py-3 rounded" style="background-color: darkblue;">Todays Appointment</li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Patient
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.patient_name}} {{data.patient_surname}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Service
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.service.service_name}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Time Slot
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.time_slot_id.clinic_timeslot_id.timeslot}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item py-3">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Patient Doctor
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.doctor.first_name}} {{data.doctor.last_name}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Date
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.date_appointment|date:"l,d M"}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item py-3">
                                    <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-12 text-secondary mt-3">
                                        Mark as Complete
                                      </div>
                                      <div class="col-sm-12 col-lg-12 mt-3">
                                        <div class="row">
                                          <div class="col">
                                            <div class="form-check">
                                              <input class="form-check-input" type="radio" name="complete_status" id="flexRadioDefault1" value="Complete" required>
                                              <label class="form-check-label" for="flexRadioDefault1">
                                                Complete
                                              </label>
                                            </div>
                                          </div>
                                          <div class="col">
                                            <div class="form-check">
                                              <input class="form-check-input" type="radio" name="complete_status" id="flexRadioDefault1" value="No-Show" required>
                                              <label class="form-check-label" for="flexRadioDefault1">
                                                No Show
                                              </label>
                                            </div>
                                          </div>
                                          <div class="col">
                                            <div class="form-check">
                                              <input class="form-check-input" type="radio" name="complete_status" id="flexRadioDefault1" value="Confirmed" required>
                                              <label class="form-check-label" for="flexRadioDefault1">
                                                Confirmed
                                              </label>
                                            </div>
                                          </div>
                                          <div class="col">
                                            <div class="form-check">
                                              <input class="form-check-input" type="radio" name="complete_status" id="flexRadioDefault1" value="Pending" required>
                                              <label class="form-check-label" for="flexRadioDefault1">
                                                Pending
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item py-3">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-12 mt-3 text-secondary">
                                        Payment Status
                                      </div>
                                      <div class="col-sm-12 col-lg-12 mt-3">
                                        <div class="row">
                                          <div class="col col-lg-3">
                                            <div class="form-check">
                                              <input class="form-check-input" type="radio" name="complete_payment" id="flexRadioDefault1" value="Paid" required>
                                              <label class="form-check-label" for="flexRadioDefault1">
                                                Paid
                                              </label>
                                            </div>
                                          </div>
                                          <div class="col col-lg-3">
                                            <div class="form-check">
                                              <input class="form-check-input" type="radio" name="complete_payment" id="flexRadioDefault1" value="Outstanding" required>
                                              <label class="form-check-label" for="flexRadioDefault1">
                                                Outstanding
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item py-5">
                                    <center>
                                      <div class="row my-4">
                                        <div class="col">
                                          <input type="text" value="{{data.id}}" name="complete_appointmentId" hidden="True">
                                          <button type="submit" name="complete_appointment" class="btn py-3 text-white" style="width: 100%; background-color: darkblue;">Submit</button>
                                        </div>
                                          </form>
                                        <div class="col">
                                          <a href="{% url 'reschedule' data.id %}" style="text-decoration: none;">
                                          <button class="btn text-secondary py-3 bg-light border" style="width: 100%;">Reschedule</button>
                                          </a>
                                        </div>
                                      </div>
                                    </center>
                                  </li>
                                  <li class="list-group-item text-white py-3 rounded" style="background-color: darkblue;">Appointment Information</li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Visit Status
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.visit_status}} Patient
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Service Fee
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        R {{data.service.service_fee}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Balance
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                          {{data.paid_status}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Appointment Status
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-success">
                                        {{data.application_status}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item text-white py-3 rounded" style="background-color: darkblue;">Patient Information</li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Patient File Number
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.patient_file_number}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Full Name
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.patient_name}} {{data.patient_surname}}
                                      </div>
                                    </div>
                                  </li>

                                  {% if data.visit_status == "First-Time" %}
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Gender
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.gender}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        DOB
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.date_of_birth}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Identification
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.identification}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Contact
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.contact}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Email
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.email}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Address
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        <p class="mb-1">
                                          {{data.street}}
                                        </p>
                                        <p class="mb-1">
                                          {{data.town}}
                                        </p>
                                        <p class="mb-1">
                                          {{data.postal_code}}
                                        </p>
                                      </div>
                                    </div>
                                  </li>
                                  {% endif %}
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Reason For Visit
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.reason_visit}}
                                      </div>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="row">
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6 text-secondary">
                                        Allergies
                                      </div>
                                      <div class="col-sm-12 col-lg-6 mt-1 col-md-6">
                                        {{data.allergies}}
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                                <div style="height: 100px; width: 100%;"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- second modal start -->
                    </section>
                    <!-- Appointment Modal end  -->
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </section>
          <!-- list all todays appointments end  -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
</section>


<script type="text/javascript">

  function patientdate(event){
    event.preventDefault();
    document.getElementById('timeslots').style.display = "block";  
    datepicked = document.querySelector('input[id="application_date"]').value;
    console.log(datepicked)
    document.getElementById("selected_user_date").value = datepicked;  
    document.getElementById("return_date").value = datepicked;
  }

</script>

{% endblock %}