{% extends 'Admin/admin.html' %}


{% block content %}

<section class="container mt-5">
    <a href="{% url 'clinic-settings' doctors_clinic.id %}">
        <i class="bi bi-arrow-left-circle-fill" style="font-size: 30px; color: darkblue;"></i>
    </a>
</section>

<section class="my-5 container">
    {% for message in messages %}
    <div class="alert alert-warning py-5" role="alert">
        <p style="font-size: 20px;">{{message}}</p>
      </div>
    {% endfor %}
</section>

<section class="mt-5 container">
    <h5 class="my-4" style="color: darkblue;">{{doctors_clinic.clinic_name}}</h5>
    {% if searched %}
        <h5>Showing <strong>Doctor</strong> search results for ....  <span class="text-secondary">{{searched}}</span></h1>
    {% else %}
        <h5>No Results</h5>
    {% endif %}
</section>

<section class="mt-5 container">
    {% if doctor_result %}
        {% for doctor in doctor_result %}
        <div class="bg-light rounded border p-3">
            <p><span class="text-secondary">Name : </span> {{doctor.first_name}} {{doctor.last_name}}</p>
            <p><span class="text-secondary">Doctors License Number : </span>  {{doctor.doctor_license}}</p>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" value="{{doctor.id}}" name="add_doctor" hidden="True">
                <input type="text" value="{{doctor.first_name}} {{doctor.last_name}}" name="doctor_name" hidden="True">
                <button type="submit" name="add_to_clinic" class="btn btn-success my-2 px-3">Add to Clinic</button>
            </form>
        </div>
            
        {% endfor %}
    {% else %}
        <p>No Results</p>
    {% endif %}
</section>
{% endblock %}