
{% for application in allPatient %}
  <div class="row  m-0 border rounded py-2">
    <div class="col-sm-12 col-lg-1 mt-1 d-flex align-items-center">
      {% if application.date_appointment == current_date %}
      <i class="bi bi-bell-fill text-danger" style="font-size: 20px;"></i>
      {% else %}
      <i class="bi bi-bell-slash-fill text-secondary" style="font-size: 20px;"></i>
      {% endif %}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center">
      {{application.patient_name}} {{application.patient_surname}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center">
      {{application.service.service_name}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center" style="color: darkblue;">
      {{application.time_slot_id.clinic_timeslot_id.timeslot}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center">
      {{application.date_appointment|date:"l,d M"}}
    </div>
    <div class="col-sm-12 col-lg mt-1 d-flex align-items-center text-danger">
      {{application.application_status}}
    </div>
    <div class="col-sm-12 col-lg mt-1">
        <a href="{% url 'pending' application.id %}" style="background-color: darkblue;" type="button" class="btn text-white">View</a>
    </div>
    
    </div>
  {% empty %}
  <div class="alert alert-primary" role="alert">
    No Pending Appointments.
  </div>
  {% endfor %}