

<p>jamal</p>
{% for list_items in preco_clinics %}
<div class="col-6">
    <a href="#" style="text-decoration: none;">
        <div class="rounded">
            <div class="clinic-image bg-light rounded border"></div>
            <p class="mt-1 m-0" style="font-weight: 500; color: darkblue;">{{list_items.clinic_name}}</p>
            <a href="{% url 'clinic' list_items.id %}" style="text-decoration: none;">
                <P class="m-0 mt-1 text-secondary">View Clinic</P>
            </a>
        </div>
    </a>
</div>
{% endfor %}


<!-- {% for clinic in preco_clinics %}
<p>{{clinic.clini}}</p>
{% endfor %} -->