
<div class="alert alert-secondary" role="alert">
  if search is blank,means there are no timeslots available.
</div>

<form onsubmit="myfunc(event)">
  

  {% for timeslot_item in available_timeslot%}
  <div class="rounded bg-light border p-2 my-2">
    <input type="radio" id="timeslot_availability_id" name="time_slots" value="{{timeslot_item.id}}">
    <label for="time_slots">{{timeslot_item.timeslot}}</label><br>
  </div>
  
  <!-- <input type="text" value="{{timeslot_item.timeslot}}" id="timeslot_display" hidden="True"> -->
  <input type="text" value="{{timeslot_item.clinic_id.id}}" id="clinic_id" hidden="True">
  <input type="text" value="{{timeslot_item.service.id}}" id="service_id" hidden="True" >
  {% endfor %}
 
  <center>
    <button type="submit" class="btn text-white my-3 py-3" style="background-color: darkblue; width: 100%;" id="submit_time">Submit Time-Slot</button>
    <div id="timeslotHelp" class="form-text">Time-Slot successfully submitted .Please continue with your application.</div>
  </center>
</form>

<script type="text/javascript">
  function myfunc(event){
    event.preventDefault();

    pageurl = sessionStorage.getItem("reschedule_url");

    if (window.location.href != pageurl) {
      showtime=document.querySelector('input[name=time_slots]:checked').value;
      document.getElementById("input_time_javascript").value = showtime;
      document.getElementById("return_timeslot").value = showtime;

      clinic = document.getElementById("clinic_id").value;
      document.getElementById("clinic_javascript").value = clinic;
      document.getElementById("return_clinic").value = clinic;

      service = document.getElementById("service_id").value;
      document.getElementById("service_javascript").value = service;
      document.getElementById("return_service").value = service;

      alert('Time-Slot successfully submitted .Please continue with your application below.')

      document.getElementById('showapplication').style.display = "block";
    } else {
      showtime=document.querySelector('input[name=time_slots]:checked').value;
      document.getElementById("timeslot_value").value = showtime;

      clinic = document.getElementById("clinic_id").value;
      document.getElementById("clinic_value").value = clinic;

      service = document.getElementById("service_id").value;
      document.getElementById("service_value").value = service;

      // display_time = document.getElementById("timeslot_display").value;
      // document.getElementById("displayTimeslot").value = display_time;



      alert('Please Click the Reschedule button to confirm your appointment')

      document.getElementById('reschedulediv').style.display = "block";

    }

    


    // var timeslot = document.getElementById("session_time").value;
    // var clinic_java = document.getElementById("clinic_id").value;
    // var service_java = document.getElementById("service_id").value;

    // sessionStorage.clear();
    // localStorage.clear();

    // sessionStorage.setItem('ls_timeslot', timeslot);
    // sessionStorage.setItem('ls_clinic_java', clinic_java);
    // sessionStorage.setItem('ls_service_java', service_java);
    
    // var x = sessionStorage.getItem("ls_timeslot");
    // document.getElementById("input_time").value = x;


  }

</script>