{% extends 'doctor/doctor-base.html' %}


{% block content %}

<section class="container mt-4">
    <h2 class="text-secondary">Doctors Clinics</h2>
</section>

<section class="mt-4 container">
  <div class="alert alert-success" role="alert">
    Tshepang Medical Centre Clinic created
    <p class="my-2">Step 1 go to your clinic settings and add doctors,services and medical schemes</p>
  </div>
  <section class="my-4">

  <button class="btn btn-success px-5 my-4 py-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Clinic</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Clinic</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <section class="mt-5">
              <form>
                {% csrf_token %}
                  <div class="mb-4">
                      <label for="clinicnameinput" class="form-label">Clinic Name</label>
                      <input type="text" class="form-control py-3 bg-light" id="clinicnameinput" aria-describedby="clinicnamehelp" name="clinic-name">
                  </div>
                  <div class="row mb-4">
                      <div class="col">
                          <div class="">
                              <label for="contact1" class="form-label">Contact 1</label>
                              <input type="text" class="form-control py-3 bg-light" id="contact1" aria-describedby="contact1help" name="contact-1">
                          </div>
                      </div>
                      <div class="col">
                          <div class="">
                              <label for="contact2" class="form-label">Contact 2</label>
                              <input type="text" class="form-control py-3 bg-light" id="contact2" aria-describedby="contact-2" name="contact-2">
                          </div>
                      </div>
                  </div>
                  <div class="mb-4">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control py-3 bg-light" id="exampleInputEmail1" aria-describedby="emailHelp" name="email-address">
                  </div>
                  <div class="mb-4">
                      <label for="exampleFormControlTextarea1" class="form-label">About Clinic</label>
                      <textarea class="form-control py-3 bg-light" id="exampleFormControlTextarea1" rows="3" placeholder="small description about clinic ?" name="about-clinic"></textarea>
                  </div>
                  <div class="mb-4">
                      <label for="clinicaddress" class="form-label">Address</label>
                      <input type="text" class="form-control py-3 bg-light" id="clinicaddress" aria-describedby="addresshelp" placeholder="12 main street" name="street">
                  </div>

                  <div class="alert alert-primary mb-3" role="alert">
                    If your provice or suburb is not listed please contact us.
                    <p class="my-2">whatsapp - 098 877 8899</p>
                    <p class="mb-0">email - admin@preoccare.co.za</p>
                  </div>
                  <div class="row mb-4">
                      <div class="col-6 col-md-6 col-lg-5 mt-3">
                          <label for="clinicnameinput" class="form-label">Provice</label>
                          <select class="form-select py-3 bg-light" aria-label="Default select example" name="province">
                              <option selected>Select Provice</option>
                              <option value="Gauteng">Gauteng</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                      </div>
                      <div class="col-6 col-md-6 col-lg-5 mt-3">
                          <label for="clinicnameinput" class="form-label">Suburb</label>
                          <select class="form-select py-3 bg-light" aria-label="Default select example" name="suburb">
                              <option selected>Select Suburb</option>
                              <option value="Tsakane">Tsakane</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                      </div>
                      <div class="col-12 col-md-12 col-lg-2 mt-3">
                          <div class="">
                              <label for="clinicnameinput" class="form-label">Zip Code</label>
                              <input type="text" class="form-control py-3 bg-light" id="clinic-zip" aria-describedby="zipcodehelp" name="zipcode">
                          </div>
                      </div>
                  </div>
                  <label for="clinicnameinput" class="form-label mt-4 mb-4">Clinic Type ?</label>
                  <div class="row">
                      <div class="col-3">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="clinictype" id="privateclinic" value="private">
                              <label class="form-check-label" for="privateclinic">
                                Private
                              </label>
                          </div>
                      </div>
                      <div class="col-3">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="clinictype" id="publicclinic" value="public">
                              <label class="form-check-label" for="publicclinic">
                                Public
                              </label>
                          </div>
                      </div>
                  </div>
                  <center>
                    <div class="row">
                      <div class="col">
                        <button  hx-post="{% url 'add-clinic' %}" hx-target="#clinic-list" type="submit" class="btn btn-warning my-5 py-3" style="width: 50%;" data-mdb-dismiss="modal">Submit</button>
                      </div>
                      <div class="col">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </center>
              </form>
          </section>
          </div>
        </div>
      </div>
    </div>

  </section>
  <div class="alert alert-primary" role="alert">
      Please contact us if your clinic is <span class="text-danger">Disabled</span> or having troubles with your application.
      <p class="my-2">whatsapp : 084 847 474</p>
      <p  class="my-2">Email : admin@precocare.com</p>
      <p  class="my-2" >Call : 094 748 8484</p>
  </div>
    <div class="alert alert-primary mt-3" role="alert">
      Your Clinic Won't be <span class="text-success">active</span>  till we verify your clinic.
    </div>
      
</section>

<section class="mt-3 container" id="clinic-list">
    <div class="row">
        {% include 'admins_patials/clinics-list.html' %}
      </div>
</section>

{% endblock %}

