{% extends 'doctor/doctor-base.html' %}


{% block content %}


<style>
/* 
    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    } */

    @media (min-width: 767.98px) {

    .hide-components{
        display: none;
    }

    }

    @media (max-width: 767.98px) {

        .hide-components-lg{
        display: none;
        }
    }

    @media (max-width: 821px) {

        .hide-components-ipad{
            display: none;
        }
    }


</style>

<section class="mt-4 container">
    <button onclick="history.back()" style="border: none; background-color: transparent;">
      <i class="bi bi-arrow-left-circle-fill" style="font-size: 30px; color: darkblue;"></i>
    </button>
  </section>

<section class="container mt-4">
    <h2 class="text-secondary">Applicantions</h2>
    <h2>{{dashboard.clinic_name }}</h2>
</section>

<section class="my-5 container">
    {% for message in messages %}
    <div class="alert alert-warning py-3" role="alert">
        <p style="font-size: 18px;">{{message}}</p>
      </div>
    {% endfor %}
  </section>

<section class="mt-4 container">
    <div class="row p-0 m-0">
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body">
                <a href="{% url 'doctor-applications' dashboard.id%}" style="text-decoration: none;">
                    <button type="button" class="btn text-white py-3" style="background-color: darkblue; width: 100%;">All Applications</button>
                </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body ">
                <a href="{% url 'doctors-Clinic-setting' dashboard.id %}">
                    <button type="button" class="btn text-white py-3"  style="background-color: darkblue; width: 100%;">Clinic Settings</button>
                </a>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="mt-5 container">
    <p class="text-secondary mb-4" style="font-size: 20px;">Today's Confirmed Appointments</p>
    <div class="row text-white py-4 rounded card-1 mb-4" style="background-color: darkblue;">
        <div class="col">Time</div>
        <div class="col">Patient</div>
        <div class="col hide-components-lg hide-components-ipad">Gender</div>
        <div class="col hide-components-lg hide-components-ipad">File #</div>
        <div class="col hide-components-lg hide-components-ipad">Complete</div>
        <div class="col">View</div>
    </div>

    {% for appointment in  all_appointments %}
    {% if appointment.date_appointment == current_date %}
    <div class="row py-4 rounded  card-1 mb-4 bg-light border">
        <div class="col">{{appointment.time_slot_id.clinic_timeslot_id.timeslot}}</div>
        <div class="col">{{appointment.patient_name}} {{appointment.patient_surname}}</div>
        <div class="col hide-components-lg hide-components-ipad">{{appointment.gender}}</div>
        <div class="col hide-components-lg hide-components-ipad">{{appointment.patient_file_number}}</div>
        <div class="col hide-components-lg hide-components-ipad text-secondary">{{appointment.application_status}}</div>
        <div class="col">
            <!-- Button trigger modal -->
            <button type="button" class="btn text-white" style="background-color: darkblue;" data-bs-toggle="modal" data-bs-target="#doctorviewpatient{{appointment.id}}">
                View
            </button>
            <!-- Modal -->
            <div class="modal fade" id="doctorviewpatient{{appointment.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Patient Applicantion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-3 text-white" style="background-color: darkblue;">Patient Information</li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Time-slot</div>
                                    <div class="col">{{appointment.time_slot_id.clinic_timeslot_id.timeslot}}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Patient File Number</div>
                                    {% if appointment.patient_file_number == None %}
                                        <div class="col text-secondary">New Patient</div>
                                    {% else %}
                                        <div class="col" style="color: darkblue;">{{appointment.patient_file_number}}</div>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Patient</div>
                                    <div class="col">{{appointment.patient_name}} {{appointment.patient_surname}}</div>
                                </div>
                            </li>

                            {% if appointment.visit_status == "First-Time" %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Gender</div>
                                    <div class="col">{{appointment.gender}}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Date Of Birth</div>
                                    <div class="col">{{appointment.date_of_birth}}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Identification</div>
                                    <div class="col">{{appointment.identification}}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Contact 1</div>
                                    <div class="col">{{appointment.contact}}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Email</div>
                                    <div class="col">{{appointment.email}}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Address</div>
                                    <div class="col">
                                        <p class="mb-1">{{appointment.street}}</p>
                                        <p class="mb-1">{{appointment.town}}</p>
                                        <p class="mb-1">{{appointment.postal_code}}</p>
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Reason For Visit</div>
                                    <div class="col">{{appointment.reason_visit}}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Allergies</div>
                                    <div class="col">{{appointment.allergies}}</div>
                                </div>
                            </li>
                            <li class="list-group-item py-3 text-white" style="background-color: darkblue;">Service Information</li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Service</div>
                                    <div class="col">{{appointment.service.service_name}}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Visit Status</div>
                                    <div class="col">{{appointment.visit_status}}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Medical Scheme</div>
                                    <div class="col">{{appointment.medical_aid.name}}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col text-secondary">Appointment Status</div>
                                    <div class="col">{{appointment.application_status}}</div>
                                </div>
                            </li>
                          </ul>
                          <hr>
                          <section class="mt-5">
                            <form action="" method="POST">
                                {% csrf_token %}
                                    <div class="alert alert-success" role="alert">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="doctorasses" id="flexRadioDefault1" value="Complete">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Mark as Complete
                                        </label>
                                        </div>
                                    </div>
                                    <div class="alert alert-primary" role="alert">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="doctorasses" id="flexRadioDefault2" value="No-Show">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Mark as No-Show
                                            </label>
                                        </div>
                                    </div>
                                <center>
                                    <input type="text" value="{{appointment.id}}" name="appointment_id" hidden="True">
                                    <button type="submit" name="doctor_complete" class="btn btn-success px-5 my-4">Submit</button>
                                </center>
                            </form>
                          </section>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</section>



{% endblock %}