{% extends 'doctor/doctor-base.html' %}


{% block content %}
<style>
  .iconSize{
    font-size: 25px;
  }
</style>

<section class="container mt-4">
    <h2 class="text-secondary">Doctors Clinics</h2>
</section>

<section class="my-5 container">
  {% for message in messages %}
  <div class="alert alert-warning py-3" role="alert">
      <p style="font-size: 18px;">{{message}}</p>
    </div>
  {% endfor %}
</section>

<section class="container mt-4">
  <div class="row">
    <div class="col-sm-12 col-md-6 mt-3">
      <button class="btn btn-light py-3 border" style="color: darkblue; width: 100%;"  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-plus-circle-fill iconSize"></i>
        <p>Create Clinic</p>
      </button>
    </div>
    <div class="col-sm-12 col-md-6 mt-3">
      <a href="{% url 'doctor-profile' %}" style="text-decoration: none;">
        <button class="btn text-white py-3" style="background-color: darkblue; width: 100%;">
          <i class="bi bi-person-circle iconSize"></i>
          <p>Doctor Profile</p>
        </button>
      </a>
    </div>
  </div>
</section>

<section class="mt-4 container">
  <section class="my-5">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Clinic</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <section class="mt-5">
              <form method="POST">
                {% csrf_token %}
                  <div class="mb-4">
                      <label for="clinicnameinput" class="form-label">Clinic Name</label>
                      <input type="text" class="form-control py-3 bg-light" id="clinicnameinput" aria-describedby="clinicnamehelp" name="clinic-name">
                  </div>
                  <div class="row mb-4">
                      <div class="col">
                          <div class="">
                              <label for="contact1" class="form-label">Contact 1</label>
                              <input type="text" class="form-control py-3 bg-light" id="contact1" aria-describedby="contact1help" name="contact-1">
                          </div>
                      </div>
                      <div class="col">
                          <div class="">
                              <label for="contact2" class="form-label">Contact 2</label>
                              <input type="text" class="form-control py-3 bg-light" id="contact2" aria-describedby="contact-2" name="contact-2">
                          </div>
                      </div>
                  </div>
                  <div class="mb-4">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control py-3 bg-light" id="exampleInputEmail1" aria-describedby="emailHelp" name="email-address">
                  </div>
                  <div class="mb-4">
                      <label for="exampleFormControlTextarea1" class="form-label">About Clinic</label>
                      <textarea class="form-control py-3 bg-light" id="exampleFormControlTextarea1" rows="3" placeholder="small description about clinic ?" name="about-clinic"></textarea>
                  </div>
                  <div class="mb-4">
                      <label for="clinicaddress" class="form-label">Address</label>
                      <input type="text" class="form-control py-3 bg-light" id="clinicaddress" aria-describedby="addresshelp" placeholder="12 main street" name="street">
                  </div>

                  <div class="alert alert-primary mb-3" role="alert">
                    If your provice or suburb is not listed please contact us.
                    <p class="my-2">whatsapp - 098 877 8899</p>
                    <p class="mb-0">email - admin@preoccare.co.za</p>
                  </div>
                  <div class="row mb-4">
                        <div class="col-6 col-md-6 col-lg-5 mt-3">
                          <label for="clinicnameinput" class="form-label">Suburb</label>
                          <select class="form-select py-3 bg-light" aria-label="Default select example" name="suburb">
                              <option selected>Select Suburb</option>
                              {% for data in suburbList %}
                              <option value="{{data.name}}">{{data.name}}</option>
                              {% endfor %}
                            </select>
                      </div>
                        <div class="col-6 col-md-6 col-lg-5 mt-3">
                            <label for="clinicnameinput" class="form-label">Provice</label>
                            <select class="form-select py-3 bg-light" aria-label="Default select example" name="province">
                                <option selected>Select Provice</option>
                                {% for province in provinceList %}
                                <option value="{{province.name}}">{{province.name}}</option>
                                {% endfor %}
                              </select>
                        </div>
                      <div class="col-12 col-md-12 col-lg-2 mt-3">
                          <div class="">
                              <label for="clinicnameinput" class="form-label">Zip Code</label>
                              <input type="text" class="form-control py-3 bg-light" id="clinic-zip" aria-describedby="zipcodehelp" name="zipcode">
                          </div>
                      </div>
                  </div>
                  <label for="clinicnameinput" class="form-label mt-4 mb-4">Clinic Type ?</label>
                  <div class="row">
                      <div class="col-3">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="clinictype" id="privateclinic" value="private">
                              <label class="form-check-label" for="privateclinic">
                                Private
                              </label>
                          </div>
                      </div>
                      <div class="col-3">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="clinictype" id="publicclinic" value="public">
                              <label class="form-check-label" for="publicclinic">
                                Public
                              </label>
                          </div>
                      </div>
                  </div>
                  <center>
                    <button type="submit" name="CreateClinicDoctor" class="btn text-white fw-bold py-3 my-5" style="background-color: darkblue; width: 100%;">Submit</button>
                  </center>
                  <div style="height: 100px; width: 100%;"></div>
                  <!-- <center>
                    <div class="row">
                      <div class="col">
                        <button  hx-post="{% url 'add-clinic' %}" hx-target="#clinic-list" type="submit" class="btn btn-warning my-5 py-3" style="width: 50%;" data-mdb-dismiss="modal">Submit</button>
                      </div>
                      <div class="col">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </center> -->
              </form>
          </section>
          </div>
        </div>
      </div>
    </div>

  </section>
    <div class="alert alert-primary mt-3" role="alert">
      Your Clinic Won't be <span class="text-success">active</span>  till we verify your clinic.
    </div>
    <div class="alert alert-primary" role="alert">
        Please contact us if your clinic is <span class="text-danger">Disabled</span> or having troubles with your application.
        <p class="my-2">whatsapp : 084 847 474</p>
        <p  class="my-2">Email : admin@precocare.com</p>
        <p  class="my-2" >Call : 094 748 8484</p>
    </div>
      
</section>

<section class="mt-5 container">
  <h6 style="color: darkblue;">Clinics you created.</h6>
  <div class="mt-2" style="height: 2px; width: 20%; background-color: darkblue;"></div>
  {% for doctor_clinic in doctorCreatedClinics %}
  <div class="row">
    <div class="col-sm-6">
      <div class="card py-3 mt-3 bg-light border">
          <div class="card-body text-white">
              <h5 class="card-title text-dark">{{doctor_clinic.clinic_name}}</h5>
              {% if doctor_clinic.clinic_status == 'Active'%}
              <p class="card-text text-dark">Clinic Status : <span class="text-success">{{doctor_clinic.clinic_status }}</span> </p>
              {% else %}
              <p class="card-text text-dark">Clinic Status : <span class="text-danger">{{doctor_clinic.clinic_status }}</span> </p>
              {% endif %}
              <a href="{% url 'doctor-dashboard' doctor_clinic.id %}" class="btn bg-light border" style="color: darkblue;">View Dashboard</a>
          </div>
          </div>
      </div>
  </div>
  {% empty %}
    <div class="alert alert-secondary mt-3" role="alert">
      You have not created any clinics.
    </div>
  {% endfor %}
</section>

<section class="mt-5 container">
  <h6 style="color: darkblue;">Clinics you are a doctor.</h6>
  <div class="mt-2" style="height: 2px; width: 20%; background-color: darkblue;"></div>
  <div class="row">
    {% if doctorClinic %}
    {% for doctors in doctorClinic %}
        <div class="col-sm-6">
            <div class="card py-3 mt-3" style="background-color: darkblue;">
            <div class="card-body text-white">
                <h5 class="card-title">{{doctors.clinic_name}}</h5>
                {% if doctors.clinic_status == 'Active'%}
                <p class="card-text">Clinic Status : <span class="text-success">{{doctors.clinic_status }}</span> </p>
                {% else %}
                <p class="card-text">Clinic Status : <span class="text-danger">{{doctors.clinic_status }}</span> </p>
                {% endif %}
                <a href="{% url 'doctor-dashboard' doctors.id %}" class="btn bg-light border" style="color: darkblue;">View Dashboard</a>
            </div>
            </div>
        </div>
    {% endfor %}
{% else %}
<div class="alert alert-primary" role="alert">
  Doctor Not registed with any clinic
</div>
{% endif %}
  </div>
</section>




{% endblock %}

