{% extends 'precocare/base.html' %}


{% block content %}


<style>

    :root {
        --main-color: darkblue;
    }

    .insurance-hero{
        background-color: var(--main-color);
        height: 25vh;
        width: 100%;
        padding-top: 44px;
    }

    .location-hero-text{
        padding-top: 40px;
        color: white;
        width: 70%;
        font-weight: 500;
    }


    .Page-headings{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

    .main-headings{
        color: grey;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px !important;
    }

    .appointment-icon-pending{
        font-size: 25px;
        color: red;
    }

    .appointment-icon-confirmed{
        font-size: 25px;
        color: green;
    }


    .offcanvas-bottom {
    right: 0;
    left: 0;
    height: 80vh;
    max-height: 100%;
    border-top: 1px solid rgba(0,0,0,.2);
    transform: translateY(100%);
    }


    .pending-status-icon{
        font-size: 50px;
        color: red;
    }


    .appointment-application{
        color: black;
    }

</style>



<div class="insurance-hero">
    <div class="container">
        <div class="row pt-3">
            <div class="col">
                <button class="p-0 m-0" onclick="history.back()" style="border: none; background-color: transparent;">
                    <i class="bi bi-arrow-left-circle-fill" style="color: white; font-size: 25px;"></i>
                </button>
            </div>
            <div class="col-8 d-flex align-items-center" style="color: white;">
                <p class="Page-headings mb-0">Appointments</p>
            </div>
        </div>
        <!-- <p class="location-hero-text">Hello <strong>{{request.user}}</p> -->
    </div>
</div>

<section class="container mt-5">
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{message}}
      </div>
    <div class="alert alert-primary" role="alert">
        You will receive an email confirmation or check appointment status here.
    </div>
    {% endfor %}
</section>


<section class="container">
    <div class="row px-0">
        <div class="col-sm-12 col-md-6">
            <p class="main-headings m-0">Appointments</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <button class="btn btn-light border" style="color: darkblue;" data-bs-toggle="modal" data-bs-target="#exampleModal">Complete Appointments</button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Complete Appointment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="accordion" id="accordionExample">

                                {% for data in application %}
                                {% if data.application_status == "Complete" %}
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#completed{{data.id}}" aria-expanded="false" aria-controls="completed{{data.id}}">
                                        {{data.patient_name}} {{data.patient_surname}}
                                    </button>
                                  </h2>
                                  <div id="completed{{data.id}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-12 col-lg-6 mt-3 text-secondary">
                                                        Full Name
                                                    </div>
                                                    <div class="col-sm-12 col-lg-6 mt-3">
                                                        {{data.patient_name}} {{data.patient_surname}}
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-12 col-lg-6 mt-3 text-secondary">
                                                        Service
                                                    </div>
                                                    <div class="col-sm-12 col-lg-6 mt-3">
                                                        {{data.service}}
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-12 col-lg-6 mt-3 text-secondary">
                                                        Date
                                                    </div>
                                                    <div class="col-sm-12 col-lg-6 mt-3">
                                                        {{data.date_appointment|date:"l,d M"}}
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-12 col-lg-6 mt-3 text-secondary">
                                                        Time Slot
                                                    </div>
                                                    <div class="col-sm-12 col-lg-6 mt-3">
                                                        {{data.time_slot_id.clinic_timeslot_id.timeslot}} 
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-12 col-lg-6 mt-3 text-secondary">
                                                        Clinic
                                                    </div>
                                                    <div class="col-sm-12 col-lg-6 mt-3">
                                                        {{data.clinic_id.clinic_name}}
                                                    </div>
                                                </div>
                                            </li>
                                          </ul>
                                    </div>
                                  </div>
                                </div>
                                {% endif %}
                                {% endfor %}


                              </div>
                              <div style="height: 100px; width: 100%;"></div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="row p-0 m-0">
        {% for data in application %}
        {% if data.application_status == "Pending" %}
        <div class="col-sm-4 mt-3">
          <div class="card">
            <div class="card-body">
            {% if data.reschedule_date == "Yes"%}
            <div class="alert alert-primary" role="alert">
                Appointment has been rescheduled
            </div>
            {% endif %}
            <i class="bi bi-arrow-repeat text-danger  appointment-icon-pending me-4"></i>
            <p class="card-text mb-1" style="color: darkblue;">{{data.patient_name}} {{data.patient_surname}}</p>
            <p class="card-text text-secondary mb-1">{{data.service.service_name}}</p>
            <p class="card-text text-danger mb-2">{{data.application_status}}</p>
              <div class="modal fade" id="viewapplication{{data.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel">{{data.application_status}}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-white py-2 rounded" style="background-color: darkblue;">Appointment Information</li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Appointment Status :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2 text-danger">
                                        {{data.application_status}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Medical Aid :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.medical_aid.name}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Service :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.service}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Service Fee :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        R {{data.service.service_fee}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Appointment Date :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.date_appointment|date:"l,d M"}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Time Slot :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.time_slot_id.clinic_timeslot_id.timeslot}} 
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Clinic :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.clinic_id.clinic_name}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        location :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        <p class="mb-1">{{data.clinic_location.street}}</p>
                                        <p class="mb-1">{{data.clinic_location.suburb}}</p>
                                        <p class="mb-1">{{data.clinic_location.zipcode}}</p>
                                        <p class="mb-0">{{data.clinic_location.province}}</p>
                                    </div>
                                </div>
                            </li>
                            

                            <li class="list-group-item text-white py-2 rounded" style="background-color: darkblue;">Personal Information</li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Patient :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.patient_name}} {{data.patient_surname}}
                                    </div>
                                </div>
                            </li>
                            {% if data.visit_status ==  "First-Time"%}

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Gender :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.gender}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        DOB :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.date_of_birth}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Identification :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.identification}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        contact :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.contact}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Email :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.email}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item text-white py-2 rounded" style="background-color: darkblue;">Adress</li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Street Address :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.street}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Town :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.town}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12 col-lg-6 mt-2 text-secondary">
                                        Postal Code :
                                    </div>
                                    <div class="col-12 col-lg-6 mt-2">
                                        {{data.postal_code}}
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                          </ul>
                          <center>
                            <div class="row my-3">
                                <div class="col">
                                    <button class="btn btn-danger py-3" data-bs-target="#cancelappointmentnew{{data.id}}" data-bs-toggle="modal">Cancel Appointment</button>
                                </div>
                                <div class="col">
                                    <a href="{% url 'reschedule' data.id %}" style="text-decoration: none;">
                                        <button class="btn text-white py-3" style="background-color: darkblue;">Reschedule Appointment</button>
                                    </a>
                                </div>
                            </div>
                        </center>
                        <div style="height: 100px; width: 100%;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="cancelappointmentnew{{data.id}}" aria-hidden="true" aria-labelledby="examplecancelappointmentnew" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="examplecancelappointmentnew">Cancel Appointment</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <center>
                            <h6>Are you sure</h6>
                            <div class="row">
                                <div class="col">
                                    <button class="btn text-white px-5" style="background-color: darkblue;" data-bs-target="#viewapplication{{data.id}}" data-bs-toggle="modal">No</button>
                                </div>
                                <div class="col">
                                    <form action="" method="POST">
                                         {% csrf_token %}
                                        <input type="text" name="appointment_id" value="{{data.id}}" hidden="True">
                                        <input type="text" name="timeslot_id" value="{{data.time_slot_id.id}}" hidden="True">
                                        <button type="submit" name="cancel_appointment" class="btn btn-danger px-5">Yes</button>
                                    </form>
                                </div>
                            </div>
                        </center>
                        <div style="height: 100px; width: 100%;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <a style="color: darkblue;" class="btn m-0 p-0" data-bs-toggle="modal" href="#viewapplication{{data.id}}" role="button">View <span class="px-3"><i class="bi bi-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
        {% elif  data.application_status == "Confirmed"%}
        <div class="col-sm-4 mt-3">
            <div class="card" style="background-color: darkblue;">
              <div class="card-body">
              <i class="bi bi-check-circle-fill text-success  appointment-icon-pending me-4"></i>
              <p class="card-text mb-1" style="color: white;">{{data.patient_name}} {{data.patient_surname}}</p>
              <p class="card-text text-white mb-1">{{data.service.service_name}}</p>
              <p class="card-text text-success mb-2">{{data.application_status}}</p>
                <div class="modal fade" id="viewapplication{{data.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel">{{data.application_status}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item text-white py-2 rounded" style="background-color: darkblue;">Appointment Information</li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Appointment Status :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2 text-success">
                                          {{data.application_status}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Medical Aid :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.medical_aid.name}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Service :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.service}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Service Fee :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          R {{data.service.service_fee}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Appointment Date :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.date_appointment|date:"l,d M"}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Time Slot :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.time_slot_id.clinic_timeslot_id.timeslot}} 
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Clinic :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.clinic_id.clinic_name}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          location :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          <p class="mb-1">{{data.clinic_location.street}}</p>
                                          <p class="mb-1">{{data.clinic_location.suburb}}</p>
                                          <p class="mb-1">{{data.clinic_location.zipcode}}</p>
                                          <p class="mb-0">{{data.clinic_location.province}}</p>
                                      </div>
                                  </div>
                              </li>
                              
  
                              <li class="list-group-item text-white py-2 rounded" style="background-color: darkblue;">Personal Information</li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Patient :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.patient_name}} {{data.patient_surname}}
                                      </div>
                                  </div>
                              </li>
                              {% if data.visit_status ==  "First-Time"%}
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Gender :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.gender}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          DOB :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.date_of_birth}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Identification :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.identification}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          contact :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.contact}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Email :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.email}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item text-white py-2 rounded" style="background-color: darkblue;">Adress</li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Street Address :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.street}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Town :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.town}}
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mt-2 text-secondary">
                                          Postal Code :
                                      </div>
                                      <div class="col-12 col-lg-6 mt-2">
                                          {{data.postal_code}}
                                      </div>
                                  </div>
                              </li>
                              {% endif %}
                            </ul>
                            <center>
                                <div class="row my-3">
                                    <div class="col">
                                        <button class="btn btn-danger py-3" data-bs-target="#cancelappointmentnew{{data.id}}" data-bs-toggle="modal">Cancel Appointment</button>
                                    </div>
                                    <div class="col">
                                        <a href="{% url 'reschedule' data.id %}" style="text-decoration: none;">
                                            <button class="btn text-white py-3" style="background-color: darkblue;">Reschedule Appointment</button>
                                        </a>
                                    </div>
                                </div>
                            </center>
                            <div style="height: 100px; width: 100%;"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="cancelappointmentnew{{data.id}}" aria-hidden="true" aria-labelledby="examplecancelappointmentnew" tabindex="-1">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="examplecancelappointmentnew">Cancel Appointment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <center>
                              <h6>Are you sure</h6>
                              <div class="row">
                                  <div class="col">
                                      <button class="btn text-white px-5" style="background-color: darkblue;" data-bs-target="#viewapplication{{data.id}}" data-bs-toggle="modal">No</button>
                                  </div>
                                  <div class="col">
                                      <form action="" method="POST">
                                           {% csrf_token %}
                                          <input type="text" name="appointment_id" value="{{data.id}}" hidden="True">
                                          <input type="text" name="timeslot_id" value="{{data.time_slot_id.id}}" hidden="True">
                                          <button type="submit" name="cancel_appointment" class="btn btn-danger px-5">Yes</button>
                                      </form>
                                  </div>
                              </div>
                          </center>
                          <div style="height: 100px; width: 100%;"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <a style="color: white;" class="btn m-0 p-0" data-bs-toggle="modal" href="#viewapplication{{data.id}}" role="button">View <span class="px-3"><i class="bi bi-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        {% endif %}
        {% empty %}
        <div class="alert alert-primary container" role="alert">
            No Appointments Booked
        </div>
        {% endfor %}
      </div>
</section>

<script type="text/javascript">

    function userdate(event){
      event.preventDefault();
      document.getElementById('timeslots').style.display = "block";  
      datepicked = document.querySelector('input[id="application_date"]').value;
      console.log(datepicked)
      document.getElementById("reschedule_date").value = datepicked;  
    }

  
  </script>

{% endblock %}