{% extends 'precocare/base.html' %}


{% block content %}

<style>

    :root {
        --main-color: darkblue;
    }

    .clinic-hero{
        height: 35vh;
        background-color: var(--main-color);
        width: 100%;
        object-fit: cover !important;
    }

    .clinic-name{
        font-weight: 500;
        font-size: 22px;
        color: white;
        padding-top: 90px;
    }


    .img-container{
        height: 100px;
        width: 100%;
        background-color: lightgrey;
    }

    .clinic-icons{
        font-size: 25px;
        color: var(--main-color);
    }


    .main-headings{
        color: grey;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px !important;
    }


    .accordion-bottom-spacing{
        width: 100%;
        height: 40px;
    }


    .dropdown_style{
        padding: 1rem 0.01rem;
        background-color: #F8FAFC;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        height: calc(3.5rem + 2px);
        line-height: 1.25;
        width: 100%;
    }


    .form-control {
        background-color: #F8FAFC !important;
    }

</style>   

    <section>
        {% if clinic.hero_image %}
        <div class="clinic-hero" style=" background-size: cover;background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url({{clinic.hero_image.url}});">
        {% else %}
        <div class="clinic-hero">
        {% endif %}
            <div class="container pt-5">
                <div class="row">
                    <div class="col">
                        <button class="p-0 m-0" onclick="history.back()" style="border: none; background-color: transparent;">
                            <i class="bi bi-arrow-left-circle-fill" style="color: white; font-size: 25px;"></i>
                        </button>
                    </div>
                    <div class="col">
                        <button style="color: darkblue; width: 100%;" class="btn btn-light" data-bs-toggle="offcanvas" data-bs-target="#applicationform" aria-controls="applicationform">Book Appointment</button>
                    </div>
                </div>
                <p class="clinic-name">{{clinic.clinic_name}}</p>
            </div>
        </div>


        <section class="my-5 container">
            {% for message in messages %}
            <div class="alert alert-warning py-5" role="alert">
                <p style="font-size: 20px;">{{message}}</p>
              </div>
            {% endfor %}
        </section>

        <section class="clinic-images mt-5 container">
            <div class="row" >
                <div class="col-6 col-lg">
                    {% if  clinic.sub_image1 %}
                    <img src="{{clinic.sub_image1.url}}" class="img-thumbnail" alt="...">
                    {% else %}
                    <div class="img-container rounded"></div>
                    {% endif %}
                </div>
                <div class="col-6 col-lg">
                    {% if  clinic.sub_image2 %}
                    <img src="{{clinic.sub_image2.url}}" class="img-thumbnail" alt="...">
                    {% else %}
                    <div class="img-container rounded"></div>
                    {% endif %}
                </div>
                <div class="col-12 col-lg">
                    {% if  clinic.sub_image3 %}
                    <img src="{{clinic.sub_image3.url}}" class="img-thumbnail" alt="...">
                    {% else %}
                    <div class="img-container rounded"></div>
                    {% endif %}
                </div>
            </div>
        </section>

        <section class="mt-5">
            <div class="container">
                <div class="row gx-4">
                  <div class="col">
                   <div class="p-2 border bg-light rounded">
                    <center>
                        <i class="bi bi-telephone-fill clinic-icons"></i>
                    </center>
                   </div>
                  </div>
                  <div class="col">
                    <div class="p-2 border bg-light rounded">
                        <center>
                        <i class="bi bi-envelope-fill clinic-icons"></i>
                        </center>
                    </div>
                  </div>
                  <div class="col">
                    <div class="p-2 border bg-light rounded">
                        <center>
                        <i class="bi bi-geo-alt-fill clinic-icons"></i>
                        </center>
                    </div>
                  </div>
                </div>
            </div>
        </section>

        <section class="working-hours mt-5 container">
            <p class="main-headings m-0">Working Hours</p>
            <p class="p-2 rounded text-white" style="background-color: darkblue;">Monday - Friday <span style="padding-left: 10px;;">{{clinic.mon_fri_hours}}</span></p>
            <p class="p-2 rounded bg-light" style="color: darkblue;">Saturday <span style="padding-left: 10px;;">{{clinic.saturday}}</span></p>
            <p class="p-2 rounded bg-light" style="color: darkblue;">Sunday <span style="padding-left: 10px;;">{{clinic.sunday}}</span></p>
            <p class="p-2 rounded bg-light" style="color: darkblue;">Holidays <span style="padding-left: 10px;;">{{clinic.holidays}}</span></p>
        </section>
        
        <section class="about-clinic mt-5 container">
            <p class="main-headings m-0">About Us</p>
            <p class="text-secondary">{{clinic.about_clinic}}</p>
        </section>


        <section class="clinic-services container mt-5">
            <p class="main-headings m-0">Services we offer</p>

            <div class="alert alert-primary" role="alert">
                Prices may change depending on your consultation!
            </div>

            {% for service in services%}
                <div class="row m-0 p-2 border bg-light rounded mb-3" style="color: darkblue;">
                    <div class="col p-0">
                        <p class="m-0"> {{service.service_name}}</p>
                    </div>
                    <div class="col-3 text-secondary">
                        R {{service.service_fee}}
                    </div>
                </div>
            {% endfor %}
        </section>

        <section class="clinic-location mt-5 container">
            <p class="main-headings m-0">Locations</p>
            {% for location in locations_list %}
            <p class="m-0" style="color: darkblue;">{{location.street}}</p>
            <p class="m-0" style="color: darkblue;">{{location.suburb}}</p>
            <p class="m-0" style="color: darkblue;">{{location.zipcode}}</p>
            <p style="color: darkblue;">{{location.province}}</p>
            <!-- <p class="text-secondary">Contact Details</p> -->
            <hr>
            {% endfor %}
        </section>
        
        <section class="clinic-doctors mt-5 container">
            <p class="main-headings m-0">Practice Doctors</p>

            {% for doctor in doctors_list %}
                {% include 'partials/doctors_card.html' %}
            {% endfor %}
        </section>

        <section class="insurance mt-5 container">
            <p class="main-headings m-0">Medical Aid Coverage</p>
            <p class="text-secondary">This clinic covers the listed medical aid and insurance listed below.</p>
            {% for insurance in insurance_list %}
                {% include 'partials/insurance_card.html' %}
            {% endfor %}
        </section>

        <section class="mt-5">
            <center>
                <button class="btn bg-light border py-3" style="width: 70%; color: darkblue; font-size: 18px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#applicationform" aria-controls="applicationform">Book Appointment</button>
            </center>
        </section>

          <div class="offcanvas offcanvas-start" tabindex="-1" id="applicationform" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Application Form</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
               

                  {% if user.is_authenticated %}

                  <section class="timeslot-section">
                    <section class="my-3">
                      <p class="py-2">Search for available time-slots.</p>
                      <form>
                          {% csrf_token %}
                          <select required class="dropdown_style rounded mb-3" name="service_selected">
                              <option value="">Select Service</option>
                              {% for service in services %}
                              <option value="{{service.id}}">{{service.service_name}}</option>
                              {% endfor %}
                            </select>
                            <div class="form-floating mb-3">
                              <input type="date" class="form-control" id="application_date" placeholder="Appointment Date" name="selected_user_date" required>
                              <label for="floatingInput">Appointment Date</label>
                              <div id="appointmentdatehelp" class="form-text">Please Press the calendar <strong>Icon</strong> if you having trouble.</div>
                            </div>
                            <input type="text" name="clinic_id" value="{{clinic.id}}" hidden="True">
                            <center>
                              <button onclick="userdate(event)"  name="post_timeslot" hx-post="{% url 'show-timeslot' %}" hx-target="#timeslots" type="submit" class="my-4 btn btn-success px-5">Search For timeslot</button>
                            </center>
                      </form>
                    </section>
                    <section class="my-5" id="timeslots" style="display: none;">
                      <div class="row">
                          {% include 'partials/timeslot_id.html' %}
                      </div>
                  </section>
                  </section>

                  <section class="application-form" id="showapplication" style="display: none;">
                  <p class="text-secondary mt-5" style="font-size: 17px; font-weight: 500;">First time visit to this clinic ?</p>
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <!-- Yes Application start -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOneYes">
                          <button class="accordion-button collapsed bg-light px-1 rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneYes" aria-expanded="false" aria-controls="flush-collapseOneYes">
                            Yes
                          </button>
                        </h2>
                        <div id="flush-collapseOneYes" class="accordion-collapse collapse" aria-labelledby="flush-headingOneYes" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                              <form autocomplete="false" method="POST" >
                                {% csrf_token %}
                                <div>
                                  <input type="text" id="selected_user_date" value="" name="picked_date" hidden="True">
                                  <input type="text" id="input_time_javascript" value="" name="input_time_javascript" hidden="True">
                                  <input type="text" id="clinic_javascript" value="" name="clinic_javascript" hidden="True">
                                  <input type="text" id="service_javascript" value="" name="service_javascript" hidden="True">
                                </div>
                                  <section class="hidden-inputs">
                                      <input type="text" value="First-Time" name="visit_status" hidden="True">
                                  </section>
                                  <section class="application-info">
                                      <p style="color: darkblue; font-weight: 500;">Application</p>
                                      <select required class="dropdown_style rounded mb-3" name="application_for" id="Application_for">
                                          <option value="">Application For ?</option>
                                          <option value="Myself">Myself</option>
                                          <option value="Someone Else">Someone Else</option>
                                        </select>
                                        <select required class="dropdown_style rounded mb-3" name="location" id="service">
                                            <option value="">Select location</option>
                                            {% for location in locations_list %}
                                            <option value="{{location.id}}">{{location.street}} , {{location.suburb}}</option>
                                            {% endfor %}
                                          </select>
                                        <select class="dropdown_style rounded mb-3" name="insurance" id="service">
                                            <option>Select Medical Aid</option>
                                            {% for insurance in insurance_list %}
                                            <option value="{{insurance.id}}">{{insurance.name}}</option>
                                            {% endfor %}
                                          </select>
                                         </section>
  
  
                                  <section class="Person-info mt-5">
                                      <p style="color: darkblue; font-weight: 500;">Patient information</p>
                                      <div class="form-floating mb-3">
                                              <input type="text" class="form-control" id="floatingInput" placeholder="Patient Name" name="patient_name" required>
                                              <label for="floatingInput">Patient Name</label>
                                          </div>
          
                                          <div class="form-floating mb-3">
                                              <input type="text" class="form-control" id="floatingInput" placeholder="Patient Surname" name="patient_surname" required>
                                              <label for="floatingInput">Patient Surname</label>
                                          </div>
                                          <select required class="dropdown_style rounded mb-3" name="gender" id="Application_for">
                                            <option value="">Select Gender</option>
                                            <option value="Female">Female</option>
                                            <option value="Male">Male</option>
                                            <option value="Other">Other</option>
                                          </select>
          
                                          <div class="form-floating mb-3">
                                              <input type="date" class="form-control" id="floatingInput" placeholder="Patient Surname" name="Date_of_Birth" required>
                                              <label for="floatingInput">Date of Birth</label>
                                              <div id="emailHelp" class="form-text">Press the calendar <strong>Icon</strong> if you having trouble.</div>
                                          </div>
          
                                          <div class="form-floating mb-3">
                                              <input type="text" class="form-control" id="floatingInput" placeholder="Identification" name="identification" required>
                                              <label for="floatingInput">Identification</label>
                                          </div>
          
                                          <div class="form-floating mb-3">
                                              <input type="text" class="form-control" id="floatingInput" placeholder="Contact Number 1" name="contact1" required>
                                              <label for="floatingInput">Contact 1</label>
                                          </div>
                                          <div class="form-floating mb-3">
                                              <input type="email" class="form-control" id="floatingInput" placeholder="Email Address" name="email_address" required>
                                              <label for="floatingInput">Email Address</label>
                                          </div>
                                  </section>
  
  
                                  <section class="patient-address mt-5">
                                      <p style="color: darkblue; font-weight: 500;">Address</p>
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Street Adress" name="street" required>
                                          <label for="floatingInput">Street Address</label>
                                      </div>
  
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Town" name="town" required>
                                          <label for="floatingInput">Town</label>
                                      </div>
  
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Postal Code" name="postal_code" required>
                                          <label for="floatingInput">Postal Code</label>
                                      </div>
                                  </section>
  
  
                                  <section class="extra-info mt-5">
                                      <p class="mb-1" style="color: darkblue; font-weight: 500;">Extra information</p>
                                      <p class="text-secondary mb-1">Allergies ( Optional )</p>
                                      <div class="form-floating  mb-3">
                                        <textarea name="allergies" class="form-control" placeholder="Write allergies here" id="floatingTextarea2" style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">Allergies</label>
                                    </div>
                                      <p class="text-secondary">Reason for visit</p>
                                      <div class="form-floating  mb-3">
                                          <textarea name="reason" class="form-control" placeholder="leave reason for visit here!!" id="floatingTextarea2" style="height: 100px"></textarea>
                                          <label for="floatingTextarea2">Reason for visit</label>
                                      </div>
                                  </section>
                                    
  
                                  <center>
                                    <button class="btn text-white px-5" type="submit" name="submit-application" style="background-color: darkblue;">Submit</button>
                                  </center>
                              </form>
  
                              <div class="accordion-bottom-spacing"></div>
                          </div>
                        </div>
                      </div>
                      <!-- Yes Application end -->
  
                      <!-- No Application start -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwoNo">
                          <button class="accordion-button collapsed bg-light px-1 rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoNo" aria-expanded="false" aria-controls="flush-collapseTwoNo">
                            No
                          </button>
                        </h2>
                        <div id="flush-collapseTwoNo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwoNo" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                              <form autocomplete="false" method="POST">
                                {% csrf_token %}
                                <div>
                                  <input type="text" id="return_date" value="" name="picked_date" hidden="True">
                                  <input type="text" id="return_timeslot" value="" name="input_time_javascript" hidden="True">
                                  <input type="text" id="return_clinic" value="" name="clinic_javascript" hidden="True">
                                  <input type="text" id="return_service" value="" name="service_javascript" hidden="True">
                                </div>
                                  <section class="hidden-inputs">
                                      <input type="text" name="visit_status" value="Returning" hidden="True">
                                  </section>
                                  <section class="application-info">
                                      <p style="color: darkblue; font-weight: 500;">Application</p>
                                      <select class="dropdown_style rounded mb-3" name="Application_for" id="Application_for" required>
                                          <option value="">Application For ?</option>
                                          <option value="Myself">Myself</option>
                                          <option value="Someone Else">Someone Else</option>
                                        </select>
                                      
                                        <select required class="dropdown_style rounded mb-3" name="location" id="service">
                                            <option value="">Select location</option>
                                            {% for location in locations_list %}
                                            <option value="{{location.id}}">{{location.street}} , {{location.suburb}}</option>
                                            {% endfor %}
                                          </select>
                                        <select class="dropdown_style rounded mb-3" name="medical_aid" id="service" required>
                                            <option>Select Medical Aid</option>
                                            {% for insurance in insurance_list %}
                                            <option value="{{insurance.id}}">{{insurance.name}}</option>
                                            {% endfor %}
                                          </select>
                                  </section>
  
                                  <section class="patient-info mt-5">
                                      <p style="color: darkblue; font-weight: 500;">Patient information</p>
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Patient Name" name="patient_name" required>
                                          <label for="floatingInput">Patient Name</label>
                                      </div>
  
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Patient Surname" name="patient_surname" required>
                                          <label for="floatingInput">Patient Surname</label>
                                      </div>
                                      <div class="form-floating mb-3">
                                          <input type="text" class="form-control" id="floatingInput" placeholder="Patient File Number" name="file_number" required>
                                          <label for="floatingInput">Patient File Number</label>
                                      </div>
                                  </section>
                                  <center>
                                    <button name="returning_submit" type="submit" class="btn text-white" style="background-color: darkblue; width: 100%;">Submit</button>
                                  </center>
                              </form>
                              <div class="accordion-bottom-spacing"></div>
                          </div>
                        </div>
                      </div>
                      <!-- No Application end -->
                  </div>
                  </section>
                  {% else %}
                  <a href="{% url 'login'%}" style="text-decoration: none;">
                    <button class="btn text-white" style="background-color: darkblue;">Login To Book Appointment</button>
                  </a>
                  {% endif %}
                  <div style="height: 70px; width: 100%;"></div>
           </div>
          </div>
        

    </section>

<script type="text/javascript">

  function userdate(event){
    event.preventDefault();
    document.getElementById('timeslots').style.display = "block";  
    datepicked = document.querySelector('input[id="application_date"]').value;
    console.log(datepicked)
    document.getElementById("selected_user_date").value = datepicked;  
    document.getElementById("return_date").value = datepicked;
  }

</script>
    
{% endblock %}

