{% extends 'precocare/base.html' %}



{% block content %}


<style>
    :root {
            --main-color: darkblue;
     }

     .page-background{
        background-color: #E1E3E7;
     }

    .doctor{
        color: pink;
    }

    .doctor-hero-component{
        background-color: var(--main-color);
        height: 25vh;
        width: 100%;
    }

    .doctor-card-position{
        padding-top: 25px;
    }



    .main-headings{
        color: var(--main-color);
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px !important;
    }

    .clinic-image{
        height: 170px; 
        width: 100%;
    }

    .cards-shadow{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }


    .Page-headings{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

    .offcanvas-bottom {
   
    height: 60vh;
    max-height: 100%;
    }

    @media (min-width: 992px) {

        .image-height{
            height: 300px !important;
            width: 100% !important;
            object-fit: cover;
        }
    }
</style>


<section>
    <div class="doctor-hero-component">

        <div class="container">
            <div class="row pt-3" style="padding-top: 44px !important;">
                <div class="col">
                    <button class="p-0 m-0" onclick="history.back()" style="border: none; background-color: transparent;">
                        <i class="bi bi-arrow-left-circle-fill" style="color: white; font-size: 25px;"></i>
                    </button>
                </div>
                <div class="col-8 d-flex align-items-center" style="color: white;">
                    <p class="Page-headings mb-0">Doctor Details</p>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="doctor-card-position">
                <div class="cards-shadow">
                    {% include 'partials/doctors_card.html' %}
                </div>
            </div>
        </div>
    </div>


    <section class="container mt-5">
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{message}}
          </div>
        {% endfor %}
    </section>

    <section class="quicklinks container" style="margin-top: 100px;">
        <div id="list-example" class="list-group">
            <div class="row">
                <div class="col">
                    <a class="list-group-item list-group-item-action rounded p-3 bg-light cards-shadow" href="#list-item-1" style="border-color: grey;">
                        <center>
                            <p class="m-0 mb-2" style="font-weight: 500; font-size: 18px; color: grey;">Upvotes</p>
                            <p class="m-0" style="color: darkblue; font-weight: 500; font-size: 17px;">{{doctorUpvotes}}</p>
                        </center>
                    </a>
                </div>
                <div class="col">
                    <a class="list-group-item list-group-item-action rounded p-3 cards-shadow" href="#list-item-2" style="background-color: darkblue; border: darkblue;">
                        <center>
                            <p class="m-0 mb-2" style="font-weight: 500; font-size: 18px; color: lightgray;">Reviews</p>
                            <p class="m-0" style="color: lightgrey; font-weight: 500; font-size: 17px;">{{reviewsCount}}</p>
                        </center>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="about-doctor container mt-5">
        <p class="main-headings m-0">About Doctor</p>
        <p class="text-secondary">{{doctor.about_doctor}}</p>
    </section>

    <section class="consultation-fee mt-5 container">
        <p class="main-headings m-0">Consulation Fee</p>
        {% if doctor_service %}
        {% for service in doctor_service%}
        <div class="row m-0 py-3">
            <div class="col px-0">
                <p class="m-0" style="color: grey;">{{service.service_name}} Fee</p>
            </div>
            <div class="col-3 px-0 text-secondary m-0" style="font-weight: 500;">R {{service.service_fee}}</div>
        </div>
        {% endfor %}
        {% else %}
        <p class="py-3 text-secondary">Services not registed.</p>
        {% endif %}
        <div class="alert alert-primary my-5" role="alert">
            Please note there may be additianal charges depending on your consultation,extra medication etc.
        </div>
        <hr>
    </section>

    <section class="doctor-clinics mt-5 container">
        <p class="main-headings m-0">Doctors Clinics</p>
        <div class="row">

            {% for clinic in doctor_clinics %}
            <div class="col-sm-12 col-lg-6 mt-3">
                <a href="{% url 'clinic' clinic.id%}" style="text-decoration: none;">
                    <div class="rounded">
                        {% if clinic.hero_image %}
                        <img src="{{clinic.hero_image.url}}" class="img-thumbnail image-height" alt="...">
                        {% else %}
                        <div class="clinic-image bg-light rounded border"></div>
                        {% endif %}
                        <p class="mt-1 m-0" style="font-weight: 500; color: darkblue;">{{clinic.clinic_name}}</p>
                    </div>
                </a>
                <div class="accordion accordion-flush" id="accordionExample">
                    <div class="accordion-item ">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed px-0 rounded text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Clinic Locations  
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                {% for location in locations %}
                                {% if location.clinic_id.id == clinic.id%}
                                <li class="list-group-item"><i class="bi bi-geo-alt-fill" style="color: darkblue;"></i> {{location.suburb}}</li>
                                {% endif %}
                                {% endfor %}
                              </ul>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


    

    <section class="reviews container mt-5">
        <p class="main-headings m-0 mb-5">Reviews</p>
        <center>
            <div class="row mt-5">
                <div class="col">
                      <button  style="width: 100%;" class="btn btn-light border py-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Add Upvote
                      </button>
                      <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add Upvote</h5>
                          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <form method="POST" autocomplete="off">
                                {% csrf_token %}
                                <center>
                                    <p class="text-secondary">Please Check the checkbox to upvote</p>
                                    <div class="alert alert-secondary" role="alert" style="margin-left: 25%; margin-right: 25%;">
                                        <div class="form-check" >
                                            <input class="form-check-input" type="checkbox" value="voted" id="flexCheckDefault" name="voted" required>
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Upvote Doctor
                                            </label>
                                          </div>
                                    </div>
                                    <button name="submit-upvote" type="submit" class="btn mt-4 text-white fw-bold py-3" style="background-color: darkblue; width: 80%;">Submit</button>
                                    <p class="text-secondary mt-4">Upvote is a symbol to show that you like or agree with what the doctor is doing.</p>
                                </center>
                            </form>
                          <div style="height: 100px; width: 100%;"></div>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-light border py-3" data-bs-toggle="modal" data-bs-target="#addreviewmodal" style="width: 100%;">
                        Add Review
                      </button>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="addreviewmodal" tabindex="-1" aria-labelledby="addreviewmodalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="addreviewmodalLabel">Doctor Review</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control text-secondary" id="floatingInput" placeholder="Full Name" name="patientName" required>
                                        <label class="text-secondary" for="floatingInput">Full Name</label>
                                    </div>
                                    <div class="form-floating">
                                        <textarea class="form-control text-secondary" placeholder="Leave you review here" id="floatingTextarea2" style="height: 300px" name="review" required></textarea>
                                        <label class="text-secondary" for="floatingTextarea2">Add Review here...</label>
                                    </div>
                                    <center>
                                        <button name="add-review" class="btn text-white my-4 fw-bold py-3" style="background-color: darkblue; width: 70%;">Submit</button>
                                    </center>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </center>


        <div class="accordion-item"  style="border: none;">
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control text-secondary" id="floatingInput" placeholder="Full Name">
                    <label class="text-secondary" for="floatingInput">Full Name</label>
                </div>
                <div class="form-check mt-4">
                    <input class="form-check-input" type="checkbox" value="On" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Upvote Doctor
                    </label>
                </div>
                <button type="button" class="btn mt-3 text-white" style="background-color: darkblue;">Submit</button>
            </div>
              </div>
            </div>

            <!-- <i class="bi bi-shift-fill"></i> -->
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <section class="mt-5 upvotes" id="list-item-1">
            <div class="alert alert-primary" role="alert">
                <center>
                    <p>Dr {{doctor.first_name}} {{doctor.last_name}}</p>
                    <span style="font-weight: 500; padding-right: 10px;">
                        <i class="bi bi-shift-fill"></i>
                    </span>  Upvotes <span class="px-2 fw-bold">{{doctorUpvotes}}</span>
                </center>
              </div>
        </section>
        <section>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                {% for review in doctorReview %}
                <div class="feature col border pb-2">
                    <i class="bi bi-chat-left-text-fill px-4 py-2 rounded text-light" style="font-size: 20px; background-color: darkblue;"></i>
                  <h5 class="mt-4">{{review.patient}}</h5>
                  <p>{{review.review}}</p>
                  <p class="m-0 text-secondary" style="font-size: 14px;">{{review.date_created}}</p>
                </div>
                {% endfor %}
              </div>
        </section>

      </div>
    </section>

</section>

<div class="my-5"></div>

{% endblock %}

