{% extends 'precocare/base.html' %}
{% load static %}


{% block content %}
<style>

    :root {
        --main-color: darkblue;
    }


.cards-shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.hero-section{
    height: 35vh;
    width: 100%;
    background-color: var(--main-color);
}

.hero-padding{
    padding-top: 10vh;
}

.hero-heading{
    color: white;
    font-size: 45px;
}

.hero-p-tags{
    color: lightgrey;
}

.main-search-layout{
    padding: 10px;
    padding-top: 15px;
    margin-top: 6vh;
    background-color: white;
}




.bottom-spacing{
    width: 100%;
    height: 150px;
}


.dropdown_style{
    padding: 1rem 0.01rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    height: calc(3.5rem + 2px);
    line-height: 1.25;
}

.search-icon{
    padding: 1rem 0.80rem;
    background-color: var(--main-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    height: calc(3.5rem + 2px);
    line-height: 1.25;
    color: white;
    font-weight: bold;
}


.location-icon{
    font-size: 30px;
    color: var(--main-color);
}

.location-style{
    font-size: 18px;
    font-weight: 500;
}


.clinic-image{
    height: 170px; 
    width: 100%;
}

.main-headings{
    color: var(--main-color);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px !important;
}

.sub-headings{
    padding-right: 10px;
    font-size: 14px;
    color: grey;
}


.insurance-icon{
    font-size: 40px;
    color: lightgrey;
}


.offcanvas-start {
top: 0;
left: 0;
width: 600px;
border-right: 1px solid rgba(0,0,0,.2);
transform: translateX(-100%);
}


.avatar {
        vertical-align: middle;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        object-fit: cover;
    }


/* .container{
    padding-left: 20px !important;
    padding-right: 20px !important;
} */

    @media (min-width: 992px) {

    .image-height{
        height: 350px !important;
        width: 100% !important;
        object-fit: cover;
    }
    }

    .img-sizes{
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

</style>

<section>
    <!-- <div class="p-3 main-color">jamal</div> -->
    <div class="hero-section">
        <div class="container hero-padding">
            <p class="m-0 hero-p-tags">Welcome to</p>
            <h1 class="hero-heading">PrecoCare.</h1>
            <p class="hero-p-tags mt-4">Find the best doctors and clinics.</p>

            <section class="main-search-layout rounded border">

                <form action="{% url 'main_seacrh' %}" method="POST">
                    {% csrf_token %}
                    <div class="row m-0 p-0">
                        <div class="col-5 p-0">
                                <select required class="dropdown_style rounded" name="location" style="width: 95%;">
                                  <option>Location</option>
                                  {% for location in locations_list %}
                                  <option value="{{location.name}}">{{location.name}}</option>
                                  {% endfor %}
                                </select>
                        </div>
                        <div class="col-5 p-0">
                                <select required class="dropdown_style rounded" name="service" style="width: 95%;">
                                  <option>Service</option>
                                  {% for service in services_list %}
                                  <option value="{{service.name}}">{{service.name}}</option>
                                  {% endfor %}
                                </select>
                        </div>
                        <div class="col-2 p-0">
                            <button class="btn p-0 m-0" type="submit" name="main_search" style="width: 100%;">
                                <div class="search-icon rounded">
                                    <center>
                                            <i class="bi bi-search"></i>
                                    </center>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>

<!-- clinic type section start  -->
<div class="top-spacing" style="height: 50px;"></div>


<!-- notifications start  -->
{% if user.is_authenticated %}
    {% if userAppointments %}
        <section class="my-3 container">
            <div class="alert alert-primary" role="alert">
                Notifications <span class="badge bg-danger mx-4">{{userAppointments}}+</span>
            </div>
        </section>
    {% endif %}
{% endif %}
<!-- notifications end  -->

<section class="container mt-5">
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">
        {{message}}
      </div>
    {% endfor %}
</section>

<section class="mt-5 container">
    <p class="main-headings m-0">Clinic Type</p>
    <div class="row ">
        <div class="col">
            <button data-bs-toggle="offcanvas" data-bs-target="#allclinics" aria-controls="allclinics" type="button" class="btn border py-3" style="width: 100%; background-color: darkblue; color: lightgray;">All</button>
       
              <div class="offcanvas offcanvas-start" tabindex="-1" id="allclinics" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">All Clinics</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="container">
                        <form>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="clinic_search" placeholder="clinic name" name="clinicName">
                                        <label for="clinic_search">Enter clinic name</label>
                                    </div>
                                </div>
                                <div class="col-2 p-0">
                                    <button onclick="hideclinics(event)" hx-post="{% url 'clinic-search' %}" hx-target="#clinicResults" type="submit" class="search-icon rounded" style="width: 100%;">
                                        <center>
                                            <i class="bi bi-search"></i>
                                        </center>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <section class="my-5" id="blankResults" style="display: none;">
                        <div class="alert alert-secondary" role="alert">
                            If results are blank means there is no clinic with that name.Please try again
                          </div>
                    </section>

                    <!-- clinic search results start  -->
                    <section class="my-3" id="clinicResults">
                        {% include "partials/clinicresults.html"%}
                    </section>
                    <!-- clinic search results end  -->
                    <section class="mt-5" id="hide-component">
                        <div class="row">
                            {% for clinic in all_clinics %}
                            <div class="col-6">
                                <a href="{% url 'clinic' clinic.id%}" style="text-decoration: none;">
                                    <div class="rounded">
                                        {% if clinic.hero_image %}
                                        <img src="{{clinic.hero_image.url}}" class="img-thumbnail img-sizes" alt="...">
                                        {% else %}
                                        <div class="clinic-image bg-light rounded border img-sizes"></div>
                                        {% endif %}
                                        <p class="mt-1 m-0" style="font-weight: 500; color: darkblue;">{{clinic.clinic_name}}</p>
                                    </div>
                                </a>
                                <div class="accordion accordion-flush" id="accordionExample">
                                    <div class="accordion-item ">
                                      <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed px-0 rounded text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{clinic.id}}" aria-expanded="false" aria-controls="collapseTwo{{clinic.id}}">
                                          Clinic Locations  
                                        </button>
                                      </h2>
                                      <div id="collapseTwo{{clinic.id}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <a href="{% url 'clinic' clinic.id%}" style="text-decoration: none;">
                                                <ul class="list-group list-group-flush">
                                                    {% for location in clinicLocation %}
                                                    {% if location.clinic_id.id == clinic.id%}
                                                    <li class="list-group-item"><i class="bi bi-geo-alt-fill" style="color: darkblue;"></i> {{location.suburb}}</li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </a>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
              </div>

        </div>
        <div class="col">
            <button type="button" class="btn btn-light border py-3" style="width: 100%;"  data-bs-toggle="offcanvas" data-bs-target="#privateclinics" aria-controls="privateclinics">Private</button>

              <div class="offcanvas offcanvas-start" tabindex="-1" id="privateclinics" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Private Clinics</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="row">
                        {% for clinic in all_clinics %}
                            {% if clinic.clinic_type == "Private" %}
                                <div class="col-6">
                                    <a href="{% url 'clinic' clinic.id%}" style="text-decoration: none;">
                                        <div class="rounded">
                                            {% if clinic.hero_image %}
                                            <img src="{{clinic.hero_image.url}}" class="img-thumbnail img-sizes" alt="...">
                                            {% else %}
                                            <div class="clinic-image bg-light rounded border img-sizes"></div>
                                            {% endif %}
                                            <p class="mt-1 m-0" style="font-weight: 500; color: darkblue;">{{clinic.clinic_name}}</p>
                                        </div>
                                    </a>
                                    <div class="accordion accordion-flush" id="accordionExample">
                                        <div class="accordion-item ">
                                          <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed px-0 rounded text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{clinic.id}}" aria-expanded="false" aria-controls="collapseTwo{{clinic.id}}">
                                              Clinic Locations  
                                            </button>
                                          </h2>
                                          <div id="collapseTwo{{clinic.id}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <a href="{% url 'clinic' clinic.id%}" style="text-decoration: none;">
                                                    <ul class="list-group list-group-flush">
                                                        {% for location in clinicLocation %}
                                                        {% if location.clinic_id.id == clinic.id%}
                                                        <li class="list-group-item"><i class="bi bi-geo-alt-fill" style="color: darkblue;"></i> {{location.suburb}}</li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
              </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-light border py-3"  style="width: 100%;"  data-bs-toggle="offcanvas" data-bs-target="#publicclinics" aria-controls="publicclinics">Public</button>

              
              <div class="offcanvas offcanvas-start" tabindex="-1" id="publicclinics" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Public Clinics</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="row">
                        {% for clinic in all_clinics %}
                            {% if clinic.clinic_type == "Public" %}
                                <div class="col-6">
                                    <a href="{% url 'clinic' clinic.id%}" style="text-decoration: none;">
                                        <div class="rounded">
                                            {% if clinic.hero_image %}
                                            <img src="{{clinic.hero_image.url}}" class="img-thumbnail img-sizes" alt="...">
                                            {% else %}
                                            <div class="clinic-image bg-light rounded border img-sizes"></div>
                                            {% endif %}
                                            <p class="mt-1 m-0" style="font-weight: 500; color: darkblue;">{{clinic.clinic_name}}</p>
                                        </div>
                                    </a>
                                    <div class="accordion accordion-flush" id="accordionExample">
                                        <div class="accordion-item ">
                                          <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed px-0 rounded text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{clinic.id}}" aria-expanded="false" aria-controls="collapseTwo{{clinic.id}}">
                                              Clinic Locations  
                                            </button>
                                          </h2>
                                          <div id="collapseTwo{{clinic.id}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <a href="{% url 'clinic' clinic.id%}" style="text-decoration: none;">
                                                    <ul class="list-group list-group-flush">
                                                        {% for location in clinicLocation %}
                                                        {% if location.clinic_id.id == clinic.id%}
                                                        <li class="list-group-item"><i class="bi bi-geo-alt-fill" style="color: darkblue;"></i> {{location.suburb}}</li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
              </div>
        </div>
    </div>
</section>
<!-- clinic type section end  -->

<!-- location section start  -->
<section class="mt-5">
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col">
                <p class="main-headings m-0">Clinic Locations</p>
            </div>
            <div class="col d-flex justify-content-end">
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#viewalllocations" role="button" aria-controls="viewalllocations" style="text-decoration: none; background-color: transparent; border: none;">
                    <p class="sub-headings m-0">View All</p>
                  </a>

                  <div class="offcanvas offcanvas-start" tabindex="-1" id="viewalllocations" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasExampleLabel">All Locations availabe on PrecoCare</h5>
                      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <section class="mt-3">
                        {% for location in locations_list%}
                        <a href="{% url 'locations' location.id %}" style="text-decoration: none;">
                            <div class="row p-0 m-0 mt-3 p-3 rounded border" style="background-color: darkblue;">
                                <div class="col-2">
                                    <i class="bi bi-geo-alt-fill text-light" style="font-size: 20px;"></i>
                                </div>
                                <div class="col text-light location-style">{{location.name}}</div>
                                <div class="col-2">
                                    <i class="bi bi-chevron-right text-light" style="font-size: 20px;"></i>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                      </section>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row gy-4">
        {% for data in main_locations %}
          <div class="col-6">
            <a href="{% url 'locations' data.id %}" style="text-decoration: none;">
                <div class="p-3 border bg-light rounded">
                    <i class="bi bi-geo-alt-fill location-icon"></i>
                    <p class="mt-2 text-secondary">{{data.name}}</p>
                </div>
            </a>
          </div>
          {% endfor %}

        </div>
      </div>
</section>
<!-- location section end -->


<!-- doctors section start  -->
<section class="container mt-5">
    <div class="row ">
        <div class="col">
            <p class="main-headings m-0">Doctors</p>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#seealldoctors" role="button" aria-controls="seealldoctors" style="text-decoration: none; background-color: transparent; border: none;">
                <p class="sub-headings m-0">View All</p>
              </a>

              <div class="offcanvas offcanvas-start" tabindex="-1" id="seealldoctors" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">All Doctors</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <section>
                    <div class="mt-2">
                        <form>
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="doctorFirstName_search" placeholder="doctor name" name="DoctorName">
                                <label class="text-secondary" for="Firstname_search">First Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="doctorLastName_search" placeholder="doctor surname" name="DoctorSurname">
                                <label class="text-secondary" for="lastName_search">Last Name</label>
                            </div>
                            <center>
                                <button  onclick="hidedoctors(event)" hx-post="{% url 'doctor-search' %}" hx-target="#doctorResults" type="submit" class="search-icon rounded my-4" style="width: 70%;">
                                    <p>Search</p>
                                </button>
                            </center>
                            
                        </form>
                    </div>

                    <section class="my-5" id="blankDoctorResults" style="display: none;">
                        <div class="alert alert-secondary" role="alert">
                            If results are blank means there is no doctors that meet your search.Please try again.
                          </div>
                    </section>

                    <!-- clinic search results start  -->
                    <section class="mt-5 " id="doctorResults">
                        {% include "partials/doctorresults.html"%}
                    </section>
                    <!-- clinic search results end  -->

                    {% for doctor in list_doctors %}
                    <section id="hideDoctorCompoent">
                    <a class="mt-5" href="{% url 'doctor' doctor.id %}" style="text-decoration: none; color: darkblue;">
                        <div class="row border m-0 bg-light rounded px-2 py-3 mt-4">
                            <div class="col-3 d-flex align-items-center" style="padding-right: 100px;">
                                {% if doctor.profile_pic %}
                                <img src="{{doctor.profile_pic.url}}" alt="Avatar" class="avatar">
                                {% else %}
                                    <i class="bi bi-person-fill" style="font-size: 40px;"></i>
                                {% endif %}
                            </div>
                            <div class="col">
                                {% if doctor.verified == "Verified"%}
                                <p class="m-0" style="font-weight: 500;">Dr {{doctor.first_name}} {{doctor.last_name}} <i class="bi bi-check-circle-fill" style="color: #1DA1F2;"></i></p>
                                {% else %}
                                <p class="m-0" style="font-weight: 500;">Dr {{doctor.first_name}} {{doctor.last_name}}</p>
                                {% endif %}
                                {% for service in doctorService%}
                                {% if service.doctor_id.id == doctor.id%}
                                <p class="m-0 text-secondary">{{service.service_name}}</p>
                                {% endif %}
                                {% endfor%}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                  </section>
                </div>
              </div>
        </div>
    </div>
    {% for doctor in list_doctors %}
    <a href="{% url 'doctor' doctor.id %}" style="text-decoration: none; color: darkblue;">
        <div class="row border m-0 bg-light rounded px-2 py-3 mt-4">
            <div class="col-3 d-flex align-items-center" style="padding-right: 100px;">
                {% if doctor.profile_pic %}
                <img src="{{doctor.profile_pic.url}}" alt="Avatar" class="avatar">
                {% else %}
                    <i class="bi bi-person-fill" style="font-size: 40px;"></i>
                {% endif %}
            </div>
            <div class="col">
                {% if doctor.verified == "Verified"%}
                <p class="m-0" style="font-weight: 500;">Dr {{doctor.first_name}} {{doctor.last_name}} <i class="bi bi-check-circle-fill" style="color: #1DA1F2;"></i></p>
                {% else %}
                <p class="m-0" style="font-weight: 500;">Dr {{doctor.first_name}} {{doctor.last_name}}</p>
                {% endif %}
                {% for service in doctorService%}
                {% if service.doctor_id.id == doctor.id%}
                <p class="m-0 text-secondary">{{service.service_name}}</p>
                {% endif %}
                {% endfor%}
            </div>
        </div>
    </a>
    {% endfor %}
</section>
<!-- doctors section end  -->


<!-- all clinics section start  -->
<section class="mt-5 mb-3">
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col">
                <p class="main-headings m-0">Clinics</p>
            </div>
            <div class="col d-flex justify-content-end">
                <a data-bs-toggle="offcanvas" data-bs-target="#allclinics" aria-controls="allclinics" type="button">
                    <p class="sub-headings m-0">View All</p>
                </a>
            </div>
        </div>
        <div class="row gy-4">
            {% for clinic in limited_clinics %}
            <div class="col-sm-12 col-lg-6">
                <a href="{% url 'clinic' clinic.id%}" style="text-decoration: none;">
                    <div class="rounded">
                        {% if clinic.hero_image %}
                        <img src="{{clinic.hero_image.url}}" class="img-thumbnail image-height" alt="...">
                        {% else %}
                        <div class="clinic-image bg-light rounded border"></div>
                        {% endif %}
                        <p class="mt-1 m-0" style="font-weight: 500; color: darkblue;">{{clinic.clinic_name}}</p>
                    </div>
                </a>
                <div class="accordion accordion-flush" id="accordionExample">
                    <div class="accordion-item ">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed px-0 rounded text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{clinic.id}}" aria-expanded="false" aria-controls="collapseTwo{{clinic.id}}">
                          Clinic Locations  
                        </button>
                      </h2>
                      <div id="collapseTwo{{clinic.id}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <a href="{% url 'clinic' clinic.id%}" style="text-decoration: none;">
                                <ul class="list-group list-group-flush">
                                    {% for location in clinicLocation %}
                                    {% if location.clinic_id.id == clinic.id%}
                                    <li class="list-group-item"><i class="bi bi-geo-alt-fill" style="color: darkblue;"></i> {{location.suburb}}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor  %}
        </div>
      </div>
</section>
<!-- all clinics section end  -->


<section class="mt-5 container pb-5">
    <p class="main-headings m-0 container p-0">Medical Aid</p>
    <div>
        <center>
            <i class="bi bi-geo-alt-fill insurance-icon"></i>
            <p class="m-0 mb-2 mt-3" style="font-weight: 500; color: darkblue;">Medical Aid  &  Insurance Schemes</p>
            <p class="text-secondary">With <strong>PrecoCare</strong> you can book appointments or search for clinics that cover your Medical Aid,Insurance Scheme.</p>
            
            <a href="{% url 'insurance' %}">
                <button class="btn text-white px-4" style="background-color: darkblue;">Start Now</button>
            </a>
        </center>
    </div>
</section>





<!-- share with us start  -->
<div class="container mt-5 ">
    <p class="main-headings mb-3">Share with us</p>
    <img src="{% static 'images/precocare.svg' %}" alt="" style="width: 100%; height: 400px;">
    <section class="bg-light border px-3 rounded py-4">
        <div>
            <p style="color: darkblue;">PrecoCare Application</p>
            <p class="text-secondary">Share with us your experience with our app,We would like to get your feedback to better improve PrecoCare for better experience for our end users.Thank you.</p>
            <button class="btn text-white" style="background-color: darkblue;" data-bs-toggle="modal" data-bs-target="#sharewithus">Share Now</button>

            <!-- Modal -->
            <div class="modal fade" id="sharewithus" tabindex="-1" aria-labelledby="sharewithusform" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Share with us</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" autocomplete="off">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Full Name" name="userName" required>
                                <label for="floatingInput">Full Name</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 250px" name="userComment" required></textarea>
                                <label for="floatingTextarea2">leave your comment here</label>
                            </div>
                            <center>
                                <button name="precocare-comment" type="submit" class="btn  py-3 mt-3 mb-3 text-white px-4 fw-bold" style="width: 70%; background-color: darkblue;">Submit</button>
                            </center>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            <!-- Modal -->

        </div>
    </section>
    
</div>

<!-- share with us end  -->




<div class="bottom-spacing"></div>


<script type="text/javascript">
    function hideclinics(event){
        event.preventDefault();   
        document.getElementById('hide-component').style.display = "none";   
        document.getElementById('blankResults').style.display = "block";
    }

    function hidedoctors(event){
        event.preventDefault();   
        document.getElementById('hideDoctorCompoent').style.display = "none";   
        document.getElementById('blankDoctorResults').style.display = "block";
    }
</script>

{% endblock %}