{% extends 'precocare/base.html' %}


{% block content %}

<style>

    :root {
        --main-color: darkblue;
    }

    .insurance-hero{
        background-color: var(--main-color);
        height: 25vh;
        width: 100%;
        padding-top: 44px;
    }

    .location-hero-text{
        padding-top: 20px;
        color: white;
        font-weight: 500;
    }


    .dropdown_style{
        padding: 1rem 0.50rem;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        height: calc(3.5rem + 2px);
        line-height: 1.25;
    }

    .search-icon{
        padding: 1rem 0.80rem;
        background-color: var(--main-color);
        background-clip: padding-box;
        border: 1px solid #ced4da;
        height: calc(3.5rem + 2px);
        line-height: 1.25;
        color: white;
        font-weight: bold;
    }

    .main-headings{
        color: grey;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px !important;
    }


    .clinic-image{
        height: 170px; 
        width: 100%;
    }

    .offcanvas-start {
    top: 0;
    left: 0;
    width: 600px;
    border-right: 1px solid rgba(0,0,0,.2);
    transform: translateX(-100%);
    }


    .Page-headings{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

</style>

    <section>
        <div class="insurance-hero">
            <div class="container">
                <div class="row pt-3">
                    <div class="col">
                        <button class="p-0 m-0" onclick="history.back()" style="border: none; background-color: transparent;">
                            <i class="bi bi-arrow-left-circle-fill" style="color: white; font-size: 25px;"></i>
                        </button>
                    </div>
                    <div class="col-8 d-flex align-items-center" style="color: white;">
                        <p class="Page-headings mb-0">Medical Aid</p>
                    </div>
                </div>
                <p class="location-hero-text">Search for clinics that cover your medical aid provider.</p>
            </div>
        </div>
    </section>

    <section class="mt-5 container">
        <p class="text-secondary">Select Medical Aid and a location and search.</p>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-6 col-xl">
                    <select class="dropdown_style rounded mb-4" name="selected_insurance"  style="width: 100%;">
                        <option>Select Medical Aid</option>
                        {% for data in insurance_list %}
                        <option value="{{data.id}}">{{data.name}}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="col-6 col-xl">
                    <select class="dropdown_style rounded mb-4" name="selected_suburb"  style="width: 100%;">
                        <option>Select Town</option>
                        {% for data in locations_list %}
                        <option value="{{data.name}}">{{data.name}}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="col-12 col-xl">
                    <button class="btn m-0 p-0" type="submit" name="insurance_search" style="width: 100%;">
                        <div class="search-icon rounded" style="background-color: darkblue;">
                            <center>
                            <i class="bi bi-search" style="color: white;"></i>
                            </center>
                        </div>
                    </button>
                </div>
            </div>
        </form>
    </section>

    <section class="mt-5 container">
        <p class="text-secondary">Showing results that support <strong>{{insurance_name}}</strong> Medical Aid in <strong>{{selected_suburb}}.</strong></p>
    </section>

    <section class="mt-5 container">
        <div class="row">
            {% if clinic_location_list %}
            {% for clinic in  clinic_location_list %}
                <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">{{clinic.clinic_id.clinic_name}}</h5>
                    <p class="card-text text-secondary">{{clinic.street}}, {{clinic.suburb}}</p>
                    <a href="{% url 'clinic' clinic.clinic_id.id %}" class="btn text-white" style="background-color: darkblue;">View Clinic</a>
                    </div>
                </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="alert alert-secondary" role="alert">
                    if results are blank,means there are no clinics that meet your search requirements.
                 </div>
            {% endif %}
          </div>
    </section>
    
{% endblock %}

