{% extends 'precocare/base.html' %}


{% block content %}

<style>

    :root {
        --main-color: darkblue;
    }


    .insurance-hero{
        background-color: var(--main-color);
        height: 25vh;
        width: 100%;
        padding-top: 44px;
    }

    .location-hero-text{
        padding-top: 20px;
        color: white;
        width: 70%;
        font-weight: 500;
    }

    .clinic-image{
        height: 170px; 
        width: 100%;
    }

    .Page-headings{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

    @media (min-width: 992px) {

        .image-height{
            height: 300px !important;
            width: 100% !important;
            object-fit: cover;
        }
    }

</style>

<section>
    <div class="insurance-hero">
        <div class="container">
            <div class="row pt-3">
                <div class="col">
                    <button class="p-0 m-0" onclick="history.back()" style="border: none; background-color: transparent;">
                        <i class="bi bi-arrow-left-circle-fill" style="color: white; font-size: 25px;"></i>
                    </button>
                </div>
                <div class="col-8 d-flex align-items-center" style="color: white;">
                    <p class="Page-headings mb-0">{{location.name}} Clinics</p>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="clinics container overflow-hidden mt-5">
        <div class="row gy-4">

            {% if clinics_location%}
                {% for data in clinics_location %}
                    <div class="col-sm-12 col-lg-6 mt-3">
                        <a href="{% url 'clinic' data.clinic_id.id %}" style="text-decoration: none;">
                            <div class="rounded">
                                {% if data.clinic_id.hero_image %}
                                <img src="{{data.clinic_id.hero_image.url}}" class="img-thumbnail image-height" alt="...">
                                {% else %}
                                <div class="clinic-image bg-light rounded border"></div>
                                {% endif %}
                                <p class="mt-1 m-0" style="font-weight: 500; color: darkblue;">{{data.clinic_id.clinic_name}}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            {% else %}
            <div class="alert alert-primary py-4" role="alert">
                Sorry We currenty have no Clinics in this area.
              </div>
            {% endif %}
        </div>
    </section>
    
{% endblock %}

